.menumain {
	z-index:2;
	padding-left:15px;
}

.menumain ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*Top level list items*/
.menumain ul li{
	position: relative;
	display: inline;
	float: left;
	width:127px;
}

/*Top level menu link items style*/
.menumain ul li a{
	display: block;
	padding: 0;
	color: #6F6B69;
	text-decoration: none;
	font-size:13px;
}

#entryMenu{
	background-image:url(${contextPath}/images/1280/button_entrymenu.png);
	background-repeat:no-repeat;
	display:block;
	width:125px;
	height:85px;
	padding: 0;
}


#vetMenu{
	background-image:url(${contextPath}/images/1280/button_vetmenu.png);
	background-repeat:no-repeat;
	display:block;
	width:125px;
	height:85px;
	padding: 0;
}

#advsearchMenu{
	background-image:url(${contextPath}/images/1280/button_advsearch.png);
	background-repeat:no-repeat;
	display:block;
	width:125px;
	height:85px;
	padding: 0;
}

#chronologyMenu{
	background-image:url(${contextPath}/images/1280/button_chronology.png);
	background-repeat:no-repeat;
	display:block;
	width:125px;
	height:85px;
	padding: 0;
}

#myprofileMenu{
	background-image:url(${contextPath}/images/1280/button_myprofile.png);
	background-repeat:no-repeat;
	display:block;
	width:125px;
	height:85px;
	padding: 0;
}

#messagesMenu{
	background-image:url(${contextPath}/images/1280/button_messages.png);
	background-repeat:no-repeat;
	display:block;
	width:125px;
	height:85px;
	padding: 0;
}

#logoutMenu{
	background-image:url(${contextPath}/images/1280/button_logout.png);
	background-repeat:no-repeat;
	display:block;
	width:125px;
	height:85px;
	padding: 0;
}


/*1st sub level menu*/
.menumain ul li ul{
	position: absolute;
	left: 0;
	display: block;
	visibility: hidden;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.menumain ul li ul li{
	display: list-item;
	float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.menumain ul li ul li ul{
	top: 0;
}

/* Sub level menu links style --> Add new...*/
.menumain ul li ul li a{
	width: 150px; /*width of sub menus*/
	background-color: #f9f4ed;
	color: #6F6B69;
	margin-left: 0;
	padding-left:5px;
	padding-top:5px;
	border-bottom: 1px solid #e6d0c6;

}

/* Sub-sub level menu links style  --> TGN Place Record, MAP Place Record, Add MAP Site or Subsite*/
.menumain ul li ul li ul li a{
	width: 150px; /*width of sub menus*/
	background-color: #f9f4ed;
	color: #6F6B69;
	margin-left: 27px;
	padding-left:5px;
	padding-top:5px;
	z-index:1999;

}

.menumain ul li ul li a:hover{ /*sub menus hover style*/
	background: #e6d0c6;
	color: #6F6B69;
	width: 150px;
}



