body {
	background-image:url(${contextPath}/images/1280/bg.jpg);
	background-position:center;
	background-repeat:no-repeat;
	background-color:#f6edec;
	margin:0;
	padding:0;
	font-size:12px;
	color:#6F6B69;
	font-family:Georgia, "Times New Roman", Times, serif;
}

/* Structural Divs */

#layout {
	width:1000px;
	height:750px;
	margin:0px auto 0 auto;
	padding:0px;
	top:0px;
	position:relative;
}

#map { /* The Medici Archive Project image */
	width:315px;
	height:213px;
	margin-left:365px;
	position:absolute;
	background-image:url(${contextPath}/images/1280/img_map.png);
}

/* DIV Log in */

#login {
	width:400px;
	height:350px;
	margin-top:250px;
	margin-left: 150px;	
	position:absolute;
	background-image:url(${contextPath}/images/1280/bg_login.png);
}

/*  Log in - Form */

.loginform{ /*  Form class */
	width:250px;
	height:220px;
	margin-top: 60px;
	margin-left:55px;
	position:absolute;
	font-family:Georgia, "Times New Roman", Times, serif;
}

.button_login {
	background-image:url(${contextPath}/images/1280/button_login.jpg);
	width:130px;
	height:25px;
}

.fyp { /* Forgot your password class */
	font-size: 12px;
	line-height:17px;
}

.fyp a {
	font-size:12px;
}

input {
	font-family: Georgia, "Times New Roman", Times, serif;
	margin-top:7px;
	border:none;
	color:#60584d;
	float:left;
}

.input { /* input text class */
	background-image:url(${contextPath}/images/1280/bg_input.png);
	background-color: transparent;
	background-repeat:no-repeat;
	height:30px;
	border:none;
	width:190px;
	padding-left:10px;
	margin-top:0px;
}

.remember { /* Remember me class */
	font-size: 12px;
	margin-left: 70px;
}

/* buttonons */

#register_here{
	margin-top:250px;
	margin-left:620px;
	position:absolute;
	background-image:url(${contextPath}/images/1280/button_registerhere.jpg);
	width:235px;
	height:65px;
}

#guest {
	width:230px;
	height:65px;
	margin-top:300px;
	margin-left:585px;
	position:absolute;
}

#register {
	background-image:url(${contextPath}/images/1280/button_guest.jpg);
	width:235px;
	height:70px;
	margin-top:50px;
	margin-left:34px;
	position:absolute;
}

.guest {
	margin:0px;
}

/*  Register - Form */

#registrationForm  { /*  Form content */
	width:850px;
	height:420px;
	margin-top:190px;
	margin-left: 75px;	
	position:absolute;
	background-image:url(${contextPath}/images/1280/button_registerhere.jpg);
	background-repeat:no-repeat;
	z-index:1;
}

.registrationForm { /*  Form class */
	width:850px;
	height:300px;
	margin-top: 85px;
	margin-left:20px;
	position:absolute;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
}

.registrationFormKO { /*  Form class */
	width:850px;
	height:290px;
	margin-top: 85px;
	margin-left:20px;
	position:absolute;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
}


#captcha_register{
	position:absolute;
	width:250px;
	height:130px;
}

.readThis { /* read this text class */
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	margin:10px 0px 0px 240px;
}

.readThis a {
	font-size:12px;
}

#submitbutton { /* submit button class */
	margin-left:140px;
	position:absolute;
	width:100px;
	height:30px;
}

.already { /* Already have an account? */
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#886863;
	font-size: 12px;
	margin:0px 0px 0px 670px;
}

.already a { /* Already have an account? Links */
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#642221;
	font-size: 12px;
}

.inputerrors { /* Error Span messages */
	color:#900;
	font-size:12px;
	float:left;
}

/*  Recovery - Form */

#recovery { /*  Form content */
	width:480px;
	height:380px;
	margin-top:200px;
	margin-left: 265px;	
	position:absolute;
	background-image:url(${contextPath}/images/recovery_bg.png);
}

.recovery { /*  Form class */
	margin-left:20px;
	height:100px;
	width:250px;
	position:absolute;
}

.recoveryKO { /*  Form KO class */
	margin-left:20px;
	height:100px;
	width:650px;
	position:absolute;
}

#stemma { /*  Medici symbol */
	width:180px;
	height:220px;
	margin-top:260px;
	margin-left: 620px;	
	position:absolute;
	background-image:url(${contextPath}/images/stemma.png);
}

.input_recovery { /* input text class */
	background-image:url(${contextPath}/images/input_recovery_bg.png);
	background-color: transparent;
	background-repeat:no-repeat;
	height:30px;
	border:none;
	width:250px;
	padding-left:10px;
	margin-top:0px;
	margin-left:100px;
}

#captcha_recovery{
	width:250px;
	height:130px;
	margin-left: 10px;
	margin-top:50px;
	z-index:2;
}

#captcha_recoveryKO{
	width:250px;
	height:130px;
	margin-left: 10px;
	margin-top:4px;
	z-index:2;
}

#recovery p {
	text-align:center;
	margin-top:70px;
	line-height: 20px;
}

.inputerrors_recovery { /* Error Span messages */
	color:#900;
	font-size:12px;
	margin-left:60px;
}

/*  SendUserActivationCode */

#activationcode { /*  Form content */
	width:480px;
	height:380px;
	margin-top:200px;
	margin-left: 265px;	
	position:absolute;
	background-image:url(${contextPath}/images/activationcode_bg.png);
}

#activationcode p {
	text-align:center;
	margin-top:70px;
	line-height: 20px;
}

/*  Registration Success */

#usersuccess { /* Div content */
	width:305px;
	height:295px;
	margin-top:220px;
	margin-left: 210px;	
	position:absolute;
	background-image:url(${contextPath}/images/success_bg.png);
}

.usersuccess {  /* p class */
	margin-top:100px;
	margin-left:25px;
	height:50px;
	width:250px;
	position:absolute;
	text-align:center;
	line-height:20px;
	font-size:12px;
}

.activsuccess {  /* p class */
	margin-top:100px;
	margin-left:25px;
	height:50px;
	width:250px;
	position:absolute;
	text-align:center;
	line-height:30px;
}


/* Reset Password */

#reset { /*  Form content */
	width:480px;
	height:380px;
	margin-top:200px;
	margin-left: 265px;	
	position:absolute;
	background-image:url(${contextPath}/images/reset_bg.png);
}

.reset { /*  Form class */
	margin-top:75px;
	margin-left:20px;
	height:100px;
	width:250px;
	position:absolute;
}

#reset p{
	text-align:center;
	margin-top:170px;
	line-height:20px;
}

#reset a{
	text-decoration:underline;
	font-weight:bold;
}

#captcha_reset{
	width:250px;
	height:130px;
	margin-left: 10px;
	margin-top:24px;
	z-index:2;
}

#captcha_resetKO{
	width:250px;
	height:130px;
	margin-left: 10px;
	z-index:2;
}

.inputerrors_reset { /* Error Span messages */
	color:#900;
	font-size:12px;
	margin-left:5px;
}

/* Tag */


h1 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:110%;
	color:#6F6B69;
}

a img {
   border:0px;
}

a:focus { 
	outline: 0; 
}

a {
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration:none;
	color:#6F6B69;
	font-size:small;
}

/* ReCaptcha */

.recaptchatable .recaptcha_image_cell, #recaptcha_table {
	background-color:transparent; //reCaptcha widget background color
}
 
#recaptcha_table {
	border-color: none; //reCaptcha widget border color
	background-color:transparent;
}
 
#recaptcha_response_field {
	border-color:#6F6B69; //Text input field border color
}


