.iipmooviewer {
  font-family: Verdana, sans-serif;
  left: 0;
  top: 0;
  background: #000;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* Disable tap highlighting */
}
.iipmooviewer:focus, .iipmooviewer:active {
  outline: none;
}

.iipmooviewer .navcontainer {
  position: absolute;
  z-index: 2;
  text-align: center;
  background: transparent;
  top: 10px;
  right: 10px;  
}
.iipmooviewer .navcontainer .toolbar {
  height: 8px;
  cursor: move;
  width: 100%;
  opacity: 0.5;
  /* Cross browser CSS gradients from http://www.colorzilla.com/gradient-editor/ */
  background: #000; /* Old browsers */
  border-radius: 4px 4px 0 0;
  /* The Medici Archive Project (we do not use this)
  background: -moz-linear-gradient(top, #a9aba6 0%, #c0c2be 22%, #d5d5d2 33%, #e2e1dd 44%, #ededed 56%, #bebec1 67%, #c3c3c2 78%, #a1a4a0 89%, #878686 100%) repeat-x; /* FF3.6+ 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9aba6), color-stop(22%,#c0c2be), color-stop(33%,#d5d5d2), color-stop(44%,#e2e1dd), color-stop(56%,#ededed), color-stop(67%,#bebec1), color-stop(78%,#c3c3c2), color-stop(89%,#a1a4a0), color-stop(100%,#878686)) repeat-x; /* Chrome,Safari4+ 
  background: -webkit-linear-gradient(top, #a9aba6 0%,#c0c2be 22%,#d5d5d2 33%,#e2e1dd 44%,#ededed 56%,#bebec1 67%,#c3c3c2 78%,#a1a4a0 89%,#878686 100%) repeat-x; /* Chrome10+,Safari5.1+ 
  background: -o-linear-gradient(top, #a9aba6 0%,#c0c2be 22%,#d5d5d2 33%,#e2e1dd 44%,#ededed 56%,#bebec1 67%,#c3c3c2 78%,#a1a4a0 89%,#878686 100%) repeat-x; /* Opera11.10+ 
  background: -ms-linear-gradient(top, #a9aba6 0%,#c0c2be 22%,#d5d5d2 33%,#e2e1dd 44%,#ededed 56%,#bebec1 67%,#c3c3c2 78%,#a1a4a0 89%,#878686 100%) repeat-x; /* IE10+ 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#6f706d',GradientType=0 ); /* IE6-9 
  background: linear-gradient(top, #a9aba6 0%,#c0c2be 22%,#d5d5d2 33%,#e2e1dd 44%,#ededed 56%,#bebec1 67%,#c3c3c2 78%,#a1a4a0 89%,#878686 100%) repeat-x; /* W3C 
  */
  font-size: 11px;
  padding: 3px  0 0 0;
  font-weight: bold;
  color: #F6EDEC;
  text-transform: uppercase;
}

.iipmooviewer .navcontainer .toolbar:hover { opacity: 1.0 }

/* Fullscreen API support */
.iipmooviewer:-full-screen {
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
}
.iipmooviewer:-moz-full-screen {
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
}
.iipmooviewer:-webkit-full-screen {
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

.navwin {
  font-size: 90%;
  left: 0;
  font-weight: bold;
  text-align: left;
  border: 1px outset red;
  border: none;
  top: 10px;
  z-index: 2;
  opacity: 0.9;
  width: 100%;
  height: auto;
}

.navwin img { border: 0; width: 100%; height: 100% }
.navwin .zone {
  background: #888;
  border: 2px solid yellow;
  cursor: move;
  z-index: 3;
  opacity: 0.4;
}
.iipmooviewer .canvas{
  width: 100%;
  height: 100%;
  left: 0;
  top:  0;
  z-index: 0;
  cursor: wait;
  position: absolute;
  background: transparent;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out;
  -ms-transition: -ms-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}
.iipmooviewer .canvas img{
  padding: 0;
  border: 0;
  position: absolute;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out;
  -ms-transition: -ms-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}

.iipmooviewer .credit {
  position: absolute;
  margin: 10px;
  right: 0;
  bottom: 0;
  border: 1px outset #333;
  color: #fff;
  background: #222;
  font-weight: normal;
  padding: 5px;
  font-size: 80%;
  opacity: 0.6;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.75);
  -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.75);
  -o-box-shadow: 4px 4px 4px rgba(0,0,0,0.75);
  text-shadow: 0.5px 0.5px 0 grey;
}
.tip {
  color: #ccc;
  background: #222;
  padding: 3px;
  font-family: Verdana, sans-serif;
  font-size: 8pt;
  line-height: 1.2em;
  z-index: 2;
  position: relative;
 -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-box-shadow: 5px 5px 8px rgba(0,0,0,0.5);
  -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  -o-box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
.tip h1 {
  font-size: 150%;
  font-style: italic;
  margin-bottom: 1em;
}
.tip blockquote{
  font-style: italic;
  margin-left: 2em;
  margin-right: 2em;
}

/* Progress Bar
 */
.loadBarContainer {
  height: 10px;
  border: 1px solid #fff;
  background: #000;
  opacity: 0.66;
  text-align: left;
}
.loadBar {
  left: 0;
  font-size: 7pt;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 0.25em;
  color: #000;
  border: 0;
  background: #fff;
  height: 10px;
}

/* Scale Widget Styles
 */
.iipmooviewer .scale {
  position: absolute;
  left: 10px;
  bottom: 10px;
  height: 1.5em;
  width: auto;
  padding: 3px;
  background: #222;
  opacity: 0.65;
  cursor: default;
  color: #bbb;
  text-align: center;
  font-weight: bold;
  font-size: 65%;
  text-align: center;
  font-weight: normal;
  text-shadow: 0.5px 0.5px 0 grey;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
}
.iipmooviewer .scale:hover{
  opacity: 0.9;
}
.iipmooviewer .scale .ruler {
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #bbb;
  border-top: none;
  background: transparent;
  width: auto;
  height: 2px;
}
.iipmooviewer .scale .label { width: auto; }

/* Navigation Windows Styles
 */
.iipmooviewer .navcontainer .navbuttons {
  font-size: 50%;
  line-height: 0;
  background: #222;
  opacity: 0.6;
  width: auto;
  padding: 5px;
  z-index: 0;
  overflow: hidden;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.iipmooviewer .navcontainer .navbuttons img {
  margin-top: 2px;
  margin-left: 2px;
  cursor: pointer;
  position: relative;
  padding: 1px;
}

/* Annotation styles
 */
.iipmooviewer .canvas .annotation {
  position: absolute;
  overflow: visible;
  z-index: 2;
  border: 1px solid #888;
  background-color: transparent;
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.iipmooviewer .canvas .annotation:hover{ border-color: #fff; }

/* Use transitions to fade and set the annotation to invisible
 */
.iipmooviewer .canvas .annotation.hidden,
.iipmooviewer .canvas .commandBtn.hidden {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  -moz-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  -o-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  -ms-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  transition: visibility 0s linear 0.2s, opacity 0.2s linear;
}

.iipmooviewer .canvas .annotation.edit {
  border-color: yellow;
  z-index: 999;
}

.iipmooviewer .canvas .annotation.handle {
  cursor: se-resize;
  background: none repeat scroll 0 0 white;
  border: 1px solid black;
  bottom: 0;
  height: 5px;
  margin: -2px;
  position: absolute;
  right: 0;
  width: 5px;
}

.iipmooviewer .canvas .annotation.form {
  padding: 3px;
  width: 365px;
  height: auto;
  margin-top: 2px;
  border: 1px solid #aaa;
  line-height: 100%;
  display: inline-block;
  background: #F3E7E2; /* Old browsers */
  font-size: 12px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 5px 5px 8px rgba(0,0,0,0.5);
  -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  -o-box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  min-width:250px;
  box-shadow: 1px 1px 10px #666;
  -webkit-box-shadow: 1px 1px 10px #666;
  -moz-border-radius: 4px; 
  -webkit-border-radius: 4px; 
  border-radius: 4px; 
  z-index: 999; 
}

.iipmooviewer .canvas .annotation.form tr td:first-of-type{
  color: #6D5C4D;
}

.iipmooviewer .canvas .annotation.form input, .iipmooviewer .canvas .annotation.form select{
  width: 237px;
  border: 1px solid #DCC0BA;
  margin: 0 0 0 auto;
  -moz-border-radius: 4px; 
  -webkit-border-radius: 4px; 
  border-radius: 4px; 
  font-family:Georgia, "Times New Roman", Times, serif;
  background-color: #fbf7f4;
  color: #6d5c4d;
  padding:3px;
}

.iipmooviewer .canvas .annotation.form input[type="radio"]{
  width: 10px;
  margin: 0 5px 5px 10px;
  
}

.iipmooviewer .canvas .annotation.form textarea {
  width: 338px;
  border: 1px solid #DCC0BA;
  margin: 0 0 0 auto;
  -moz-border-radius: 4px; 
  -webkit-border-radius: 4px; 
  border-radius: 4px; 
  font-family:Georgia, "Times New Roman", Times, serif;
  background-color: #fbf7f4;
  color: #6d5c4d;
  padding:3px;
}


.iipmooviewer .canvas .annotation.form input.button{
  width: auto;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #E6D0C6;
  font-family:Georgia, "Times New Roman", Times, serif;
  color: #6F6B69;
  background: #fff; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #fff 0%, #F3E7E2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3E7E2), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fff 0%,#F3E7E2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fff 0%,#F3E7E2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fff 0%,#F3E7E2 100%); /* IE10+ */
  background: linear-gradient(to bottom, #fff 0%,#F3E7E2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#F3E7E2',GradientType=0 ); /* IE6-8 */
  margin-right:10px;
  font-size:12px;
  cursor:pointer;
}



.iipmooviewer .canvas .annotation.form input.button:hover {
  border: 1px solid #6D5C4D;
}

.iipmooviewer .canvas .annotation.form input:focus, .iipmooviewer .canvas .annotation.form textarea:focus {
  border: 1px solid red;
}



/* Info Window
 */
.iipmooviewer img.logo {
  position: absolute;
  margin: 5px;
  left: 0;
  top: 0;
  border: none;
  cursor: help;
  width: 32px;
  height: 32px;
  opacity: 0.65;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;	
  transition: opacity 0.5s ease-in-out;
}
.iipmooviewer img.logo:hover { opacity: 1; }

a.logo:link, a.logo:visited {
  text-decoration: none;
  border: none;
}
.iipmooviewer .info {
  position: absolute;
  z-index: 10;
  padding: 2em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-family: Verdana, sans-serif;
  font-size: 9pt;
  color: #ccc;
  background: #111;
  display: table;
  overflow: hidden;
  visibility: hidden;
}
.iipmooviewer .info div {
  margin-left: auto;
  margin-right: auto;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: auto;
}

.iipmooviewer .info div div {
  text-align: left;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: auto;
  display: block;
}
.iipmooviewer .info div a {
  color: #aaf;
  text-decoration: none;
}
.iipmooviewer .info div a:hover {
  text-decoration: underline;
  text-shadow: 1px 0 0 #66a;
}
.iipmooviewer .info div a img{
  position: relative;
  top: 8px;
  margin-right: 8px;
  margin-left: 0;
  border: none;
}
.iipmooviewer .info div h2 {
  margin-bottom: 2em;
  text-align: left;
  letter-spacing: 0.1em;
  font-size: 150%;
  font-weight: bold;
  text-shadow: 1px 1px 0 #444;
}
.iipmooviewer .info div ul {
  width: 75%;
  margin: 2em;
  font-size: 8pt;
}

.iipmooviewer .message {
  background: black;
  text-align: center;
  color: white;
  width: 18em;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 5;
  padding: 0.5em;
  opacity: 0.7;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em; 
}

/* iPhone, iPad and Android Devices
 */
@media screen and (max-device-width: 480px){
  .iipmooviewer { -webkit-text-size-adjust: 80%; }
  .iipmooviewer .info div div { width: 100%; }
  .iipmooviewer .info div div ul { padding: 1em; }
  .iipmooviewer .info div div, .info div div ul li { font-size: 8pt; }
  .iipmooviewer .navcontainer .navbuttons img {
    width: 24px;
    height: 24px;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
  .iipmooviewer { -webkit-text-size-adjust: 120%; }
  .loadbar { -webkit-text-size-adjust: 90%; }
  .iipmooviewer .info div div { width: 90%; }
  .iipmooviewer .navcontainer .navbuttons img {
    width: 36px;
    height: 36px;
    padding: 2px;
  }
}

/** Annotation Commands **/
.iipmooviewer .canvas .commandBtn {
	display: inline-block;
	cursor: pointer;
	position: relative;
	overflow: visible;
	z-index: 100;
	opacity: 1;
	-webkit-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}

.iipmooviewer .canvas .deleteBtn {
  margin-left: -22px;
  width: 20px;
  height: 20px;
  border-top: 2px solid #888;
  border-bottom: 2px solid #888;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  background-image:url('${contextPath}/images/1024/button_deleteAnnotation.png');
  background-size:20px 20px;
  background-color: rgba(255,255,255,0.8);
  background-repeat: no-repeat;
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.iipmooviewer .canvas .hideBtn {
  margin-left: -22px;
  width: 20px;
  height: 20px;
  border-top: 2px solid #888;
  border-bottom: 2px solid #888;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  background-image:url('${contextPath}/images/1024/button_hideAnnotation.png');
  background-size:20px 20px;
  background-color: rgba(255,255,255,0.8);
  background-repeat: no-repeat;
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.iipmooviewer .canvas .showBtn {
  margin-left: -22px;
  width: 20px;
  height: 20px;
  border-top: 2px solid #888;
  border-bottom: 2px solid #888;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  background-image:url('${contextPath}/images/1024/button_showAnnotation.png');
  background-size:20px 20px;
  background-color: rgba(255,255,255,0.8);
  background-repeat: no-repeat;
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.iipmooviewer .canvas .updateBtn {
  margin-left: -22px;
  width: 20px;
  height: 20px;
  border-top: 2px solid #888;
  border-bottom: 2px solid #888;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  background-image:url('${contextPath}/images/1024/button_editAnnotation.png');
  background-size:20px 20px;
  background-color: rgba(255,255,255,0.8);
  background-repeat: no-repeat;
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.iipmooviewer .canvas .moreBtn {
	margin-left: -15px;
	width: 15px;
	height: 24px;
	border: none;
	background-image: url('${contextPath}/images/1024/button_openCloseCmd.png');
	background-color: rgba(255,255,255,0.8);
	background-size: 15px 24px;
	background-repeat: no-repeat;
	border-top-left-radius: 15px 12px;
	-moz-border-radius-topleft: 15px 12px;
	border-bottom-left-radius: 15px 12px;
	-moz-border-radius-bottomleft: 15px 12px;
}

.iipmooviewer .canvas .lessBtn {
	margin-left: -37px;
	margin-right: 2px;
	width: 15px;
	height: 24px;
	border: none;
	background-image: url('${contextPath}/images/1024/button_openCloseCmd.png');
	background-color: rgba(255,255,255,0.8);
	background-size: 15px 24px;
	background-repeat: no-repeat;
	border-top-left-radius: 15px 12px;
	-moz-border-radius-topleft: 15px 12px;
	border-bottom-left-radius: 15px 12px;
	-moz-border-radius-bottomleft: 15px 12px;
}