/*
 * The Medici Archive Project
 * http://documents.medici.org/
 * 
 * Copyright (c) 2011 MAP
 *
 *
 * This style sheet contains all classes, id and tag from the MAIN INTERFACE elements
 */


/* ------------------------------------------------- TAG ------------------------------------------------- */ 



html {
	height: 100%;
}

body {
	background-position:bottom;
	background-repeat:no-repeat;
	background-color:#f6edec;
	background-attachment:fixed;
	margin:0 !important; 
	padding:0 !important; 
	height: 100%;
	font-size:11px;
	color:#6F6B69;
	font-family:Georgia, "Times New Roman", Times, serif;
}

h1 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:110%;
	color:#6F6B69;
}

a img {
   border:0px;
}

a:focus { 
	outline: 0px; 
}

a {
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration:none;
	color:#6F6B69;
	font-size:11px;
}


/* ------------------------------------------------------------------------------------------------------- */ 
/*
/*
/* ------------------------------------------ STRUCTURAL DIVS -------------------------------------------- */ 

#layout { /* Website Container*/
	width:1000px;
	min-height: 100% !important;
	height: 100%; 
	margin:0 auto 0 auto !important; 
	position:relative; 
}

#map { /* THE MEDICI ARCHIVE PROJECT top left image Container */
	width:270px;
	height:165px;
	position:absolute;
	background:url(${contextPath}/images/1024/img_map.png) no-repeat;
	background-color:transparent;
	z-index:999;
}

#top_top { /* SEARCH FORM and LAST ENTRY MENU Container */
	width:750px;
	height:95px;
	margin-left:250px;
	position:absolute;
}

#top_middle { /* MAIN MENU: Entry Menu - Vet Menu - Advanced Search - Chronology - My Profile - Messages - Log out */
	width:745px;
	height:64px;
	margin-top:95px;
	margin-left:255px;
	position:absolute;
	background-image:url(${contextPath}/images/1024/bg_mainmenu.png);
	background-repeat:no-repeat;
	z-index:3;
}

#top_bottom { /* USER INTERFACE MENU Container*/
	width:1000px;
	height:23px;
	margin-top:158px;
	position:absolute;
	background-image:url(${contextPath}/images/1024/bg_userinterface.png);
}

#DocSourcesContent { /* MAIN Website Container */
	width:1000px;
	height:auto;	
	margin-top:181px;
	position:absolute;
}

#footer { /* FOOTER Container */
	width:100%;
	height:150px;
	text-align: center;
	font-size:10px;
	z-index:1;
	bottom:0;
	margin-top:100%;
}

/* ------------------------------------------------------------------------------------------------------- */ 
/*
/*
/* --------------------------------------------- SPLIT SCREEN -------------------------------------------- */


#body_left{ /* LEFT-hand side of the SCREEN */
	width:490px;
	height:auto;
	padding:0 5px 0 5px;
	float:left;
	position:absolute;
	font-size:11px;
	z-index:1;
	margin-bottom:100px;
	border-right:1px solid #DCC0BA;

}
	
#body_right{ /* RIGHT-hand side of the SCREEN */
	width:490px;
	height:auto;
	padding:0 5px 0 5px;
	float:right;
	position:absolute;
	margin-left:500px;
	font-size:11px;
	border-left:1px solid #DCC0BA;
	min-height: 520px;

}

/* ------------------------------------------------------------------------------------------------------- */ 
/*
/*
/* ---------------------------------------- SEARCH FORM (#top_top) --------------------------------------- */

#searchForm { /* Search Form Container */
	width:250px;
	height:80px;
	margin: 17px 0 0 17px;
	position:absolute;
	font-size:12px;
}

.input_search { /* Input Text class */
	background-color: transparent;
	background-repeat:no-repeat;
	height:30px;
	border:none;
	width:150px;
	padding:0 5px 0 5px;
	margin-top:0px;
}

#simpleSearchPerimeter {
	width:145px;
	font-size:12px;
}

.select option{
	background-color: transparent;
}

#search { /* Search button */
	border:none;
	background-color:transparent;
	margin-top:-1px;
	background-image:url(${contextPath}/images/1024/button_mini.png);
	width:22px;
	height:22px;
	cursor:pointer;
	margin: 5px 0 0 0;
}

a.helpIcon  {
    -moz-border-radius: 10px 10px 10px 10px;
    background-color: #DCC0BA;
    border: 1px solid #6D5C4D;
    color: #6D5C4D;
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    padding-left: 6px;
    padding-right: 6px;
    text-decoration: none;
}

#text {
	width:167px;
	margin: 5px 4px 0 5px;
	font-size:12px;
}

#searchType {
	width:95px;
}

/* ------------------------------------------------------------------------------------------------------- */ 
/*
/*
/* --------------------------------------- DIGITIZATION MODULE (#top_top) --------------------------------------- */

#digitizationModule {
	text-decoration:none;
	font-size:10px;
	position: absolute;
	margin: 6px 0 0 156px;
}


/* ------------------------------------------------------------------------------------------------------- */ 
/*
/*
/* --------------------------------------- SHORTCUT MENU (#top_top) --------------------------------------- */

#lastentry { /* Shortcut Menu Container */
	width:435px;
	height:90px;
	margin:10px 0 0 300px;
	position:absolute;
	list-style:none;
	float:left;
}

#menulastentry { /* Shortcut Menu <ul> list */
	width:450px;
	height:100px;
	list-style:none;
	float:left;
}

#menulastentry li{ /* Shortcut Menu <ul> list <li> elements */
	float:left;
}

#menulastentry #last_doc a {
	background-image:url(${contextPath}/images/1024/button_lastdocumententry.png);
	background-repeat:no-repeat;
	float:left;
	display:block;
	text-decoration:none;
	width:100px;
	top:10px;
	height:85px;
	padding-left:10px;
}

#menulastentry #last_doc a:hover {
	ms-transform:translate(0,-5px);
	-moz-transform:translate(0,-5px);
	-webkit-transform:translate(0,-5px);
	-o-transform:translate(0,-5px);
	transform:translate(0,-5px);
}

#menulastentry #last_vol a {
	background-image:url(${contextPath}/images/1024/button_lastvolumeentry.png);
	background-repeat:no-repeat;
	float:left;
	display:block;
	text-decoration:none;
	width:100px;
	height:85px;
	padding-left:10px;
}

#menulastentry #last_vol a:hover {
	ms-transform:translate(0,-5px);
	-moz-transform:translate(0,-5px);
	-webkit-transform:translate(0,-5px);
	-o-transform:translate(0,-5px);
	transform:translate(0,-5px);
}

#menulastentry #last_pers a {
	background-image:url(${contextPath}/images/1024/button_lastpersonentry.png);
	background-repeat:no-repeat;
	float:left;
	display:block;
	text-decoration:none;
	width:100px;
	height:85px;
	padding-left:10px;
}

#menulastentry #last_pers a:hover {
	ms-transform:translate(0,-5px);
	-webkit-transform:translate(0,-5px);
	-moz-transform:translate(0,-5px);
	-o-transform:translate(0,-5px);
	transform:translate(0,-5px);
}

#menulastentry #last_pla a {
	background-image:url(${contextPath}/images/1024/button_lastplaceentry.png);
	background-repeat:no-repeat;
	float:left;
	display:block;
	text-decoration:none;
	width:100px;
	height:85px;
	padding-left:10px;
}

#menulastentry #last_pla a:hover {
	ms-transform:translate(0,-5px);
	-moz-transform:translate(0,-5px);
	-webkit-transform:translate(0,-5px);
	-o-transform:translate(0,-5px);
	transform:translate(0,-5px);
}

/* ------------------------------------------------------------------------------------------------------- */ 
/*
/*
/* ----------------------------------- USER INTERFACE MENU (#top_bottom) --------------------------------- */

#administrationModule { /* Administration Module */
	margin: 6px 0 0 16px;
	position: absolute;
	font-size: 10px;
}



#top_bottom p{ /* top_bottom (Who am I?) */
	color:#FFF;
	margin-top:5px;
	float:right;
	padding-right:30px;
	font-size:10px;
}

#top_bottom p:hover{ 
	cursor:default;
}

/* ------------- */
/*
/* ------------------------------------------------------------------------------------------------------- */ 
/*
/*
/* ---------------------------------------------- WELCOME PAGE ------------------------------------------- */

#welcome {  /* Page Container */
	width:900px;
	position:absolute;
	margin-top:200px;
}

.welcome{
	font-size:16px;
	margin-top:30px;
	margin-left:50px;
	position:absolute;
}

#mapcourses { /* Button MAP Courses */
	background-image:url(${contextPath}/images/1024/button_courses.jpg);
	width:200px;
	height:65px;
	position:absolute;
	margin:40px 0 0 90px;
}

.welcome_list{
	margin-left:78px;
	margin-top:150px;
	line-height:20px;
	position:absolute;
}

.welcome_list ul li{
	list-style-type:none;
	margin:7px 0 0 40px;
	font-size:11px;
	color:#6F6B69;
}

#colte_of_arms { /*  Medici symbol */
	width:180px;
	height:220px;
	margin-top:100px;
	margin-left: 180px;	
	position:absolute;
	background-image:url(${contextPath}/images/1024/img_coatofarms.png);
}

#button_courses {
	width:200px;
	height:65px;
	margin-top:20px;
	margin-left:250px;
	position:absolute;
}

/* ------------------------------------------------------------------------------------------------------- */ 
/*
/*
/* ------------------------------------------------- ANCORS ---------------------------------------------- */

/*#body_left a, .link {  Edit buttons 
	text-decoration:underline;
	font-size:11px;
	color:#B7958F;
}*/


#body_left a:hover, #body_right a:hover{ 
	opacity:0.75; /* FireFox, Chrome, Safari */
	-moz-opacity: 0.7;
	filter:alpha(opacity=70); /* IE */ !important
}

/* ------------------------------------------------------------------------------------------------------- */
/*
/*
/* --------------------------------------------- jQUERY CLASSES ------------------------------------------ */


/* Search Result */
.searchResult {
}

$('.searchResult').live('click', function() {
	$("#body_left").load($(this).attr("href"));
	return false;
});

/* Edit Value */
.editValue {
}

/* Delete Value */
.deleteValue {
}

.previousPage {
}

.nextPage {
}

/* ------------------------------------------------------------------------------------------------------- */
/*
/*