/*
 * The Medici Archive Project
 * http://documents.medici.org/
 * 
 * Copyright (c) 2011 MAP
 *
 *
 * This style sheet contains all classes, ids and tags for the Round Robin Transcription Forum 
 */

/* ------------------------------------------------- GENERAL TAG --------------------------------------------- */

blockquote {
	background: rgba(250, 250, 250, 0.5);
	font-size: 0.95em;
	margin: 0.5em 10px 0pt 10px;
	overflow: auto;
	display: block;
	margin-left: 30px;
	margin-right: 30px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #DCC0BA;
}

blockquote cite {
	display: block;
	font-style: normal;
	font-weight: bold;
	padding: 5px;
	background-color: #DCC0BA;
	color: #FFF;
}

blockquote cite span.quoteUser {
	font-style: italic;
	font-size: 1.1em;
}

/* ------------------------------------------------- CONTENT ------------------------------------------------- */

#editPostContainer {
	width: 98%;
	min-width: 560px;
	height: 10%;
	min-height: 55px;
	overflow: auto;
}

.postLocation:after {
	content: "}";
	color: #6F6B69;
}

.postLocation:before {
	content: "{";
	color: #6F6B69;
}

.postLocation .folioDetailsContainer {
	color: #6F6B69;
	display: inline;
}

.postLocation .folioDetailsContainer .volumeFragment, .postLocation .folioDetailsContainer .insertFragment, .postLocation .folioDetailsContainer .folioFragment {
	color: #CC8585;
	font-weight: bold;
}

#postsContainer {
    -moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3); 
    box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
    padding: 10px;
    border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	width: 98%!important;
	min-width: 560px;
	height: 83%;
	min-height: 300px;
	overflow: auto;
}

#postsContainer h2 {
	max-width: 100%;
}

#postsContainer .postTable h2 {
	max-width: 50%;
}

.postTable img.avatar {
	vertical-align: middle;
	margin-left: 0;
}

.postTable .post {
	width: 73%;
	border-right: 1px solid #DCC0BA;
	float: left;
}

.postTable .postProfile {
	width: 25%;
	margin: 8px 0 0 0;
	float: right;
}

#topicTitleSection {
	clear: both;
	width: 100%;
	position: relative;
}

#topicTitleSection h2 {
	position: absolute;
	max-width: 500px;
	margin-left: 20px;
	margin-top: 0px;
	z-index: -1; /* to avoid overlaying buttons */
}

#topicTitleSection #changeTopicTitle {
	padding-left: 5px;
}

#topicTitleSection #subscribe, #topicTitleSection #unsubscribe {
	float: right;
}

#upperSeparator {
	clear: both;
	margin-bottom: 15px;
}

/* ------------------------------------------------- Topic Icons ------------------------------------------------- */

.topicIcons {
	max-width: 50%;
	height:25px;
	float: right;
	display: inline-block;
	margin: 5px;
}

/* ------------------------------------------------- users ------------------------------------------------- */

.online {
	position:absolute;
	top: 0;
	right:0;
	background-image:url(${contextPath}/images/forum/img_online.png);
	width:60px;
	height:60px;
	visibility:hidden;
}

.online.visible {  /* if the user is online this class shows the "online status" */
	visibility: visible;
}

.whoIsOnlineDiv { /* Div */
	margin-bottom: 30px;
}

.whoIsOnlineDiv p { /* Date format */
	padding-left: 13px;
}

.whoIsOnlineDiv .userOnline, .whoIsOnlineDiv .userRegistered, .whoIsOnlineDiv .userHidden, .whoIsOnlineDiv .userGuest {
	font-weight:bold;
	font-size: 13px;
	color:#B7958F;
}

/* ------------------------------------------------- Edit post container ----------------------------------------- */

#editPostContainer a#button_refresh span {
	background-image: url(${contextPath}/images/forum/icon_refresh.png);
	height: 17px;
	width: 15px;
	background-repeat: no-repeat;
	padding-left: 25px;
}

#editPostContainer .postTable h2 {
	max-width: 50%;
}

#editPostContainer #EditCourseTopicPost .fragmentDetail {
	height: 16px;
}
