/*
 * The Medici Archive Project
 * http://documents.medici.org/
 * 
 * Copyright (c) 2011 MAP
 *
 *
 * This style sheet contains all id and tag from the CHRONOLOGY
 */

.Chronology { /* Chronology Content Div */
	width:700px;
	height:500px;
	border:none;
	margin:10px auto 0 auto;

}

#Chronology { /* Chronology Content Div */
	width:700px;
	height:500px;
	margin:10px auto 0 15px;
}

#DocsChronology { /* Documents Chronology Div */
	width:260px;
	height:230px;
	position:absolute;
	color:#6F6B69;
	padding:10px;
}

#PeopleChronology { /* People Chronology Div */
	width:250px;
	height:230px;
	position:absolute;
	margin-left:350px;
	color:#6F6B69;
	padding:10px;
}

#VolumesChronology { /* Volumes Chronology Div */
	width:250px;
	height:230px;
	position:absolute;
	margin-top:250px;
	color:#6F6B69;
	padding:10px;
}

#PlaceChronology { /* Place Chronology Div */
	width:250px;
	height:230px;
	position:absolute;
	margin-top:250px;
	margin-left:350px;
	color:#6F6B69;
	padding:10px;
}

#DocsChronology ul, #PeopleChronology ul, #VolumesChronology ul, #PlaceChronology ul, #MoreDocsCronology ul { /* Chronology's List */
	list-style:none;
	font-size:12px;
	margin-left:-17px;
	text-align:justify;
}

#DocsChronology li, #PeopleChronology li, #VolumesChronology li, #PlaceChronology li, #MoreDocsCronology li { /* Chronology's List */
	line-height:22px;
}

#Chronology h1 { /* Chronology Titles */
	text-align:center;
	font-size:11px;
	font-weight:bold;
	color:#6d5c4d;
}

#Chronology h2 { /* Chronology Titles */
	text-align:center;
	font-size:11px;
	font-weight:bold;
	color:#6d5c4d;
	margin:-20px auto 20px auto;
}

#Chronology a{
	font-size:11px;
	color:#6d5c4d;
	float:right;
	text-decoration:underline;
}

/* ------------- Specific Chronology Window --------------- */
/* When pressed More >> button */

#MoreDocsChronology, #MorePlaceChronology, #MoreVolChronology, #MorePeopleChronology { /* Specific Documents Chronology Div */
	width:600px;
	height:230px;
	position:absolute;
	margin-top:5px;
	margin-left:15px;
	color:#6F6B69;
	padding:10px;
}

table {
	border-collapse: separate;
	margin:0 auto 25px auto;
}

td, th {
	display: table-cell;
	vertical-align: inherit;
	padding:7px;
}

tr.odd td.sorting_1 {
	background-color: #e6d0c6;
}

.sortingSender {
	width:70px;
	font-size:11px;
	color:#777;
	font-weight:normal;
}

.sortingRecipient {
	width:70px;
	font-size:11px;
	color:#777;
	font-weight:normal;
}

.sortingDate {
	width:30px;
	font-size:11px;
	color:#777;
	font-weight:normal;
}

.sortingSLocation {
	width:70px;
	font-size:11px;
	color:#777;
	font-weight:normal;
}

.sortingRLocation {
	width:70px;
	font-size:11px;
	color:#777;
	font-weight:normal;
}

.sortingVolume {
	width:51px;
	font-size:11px;
	color:#777;
	font-weight:normal;
}

.sortingFolio {
	width:32px;
	font-size:11px;
	color:#777;
	font-weight:normal;
}

.odd, .sorting_2 {
	background-color: #F0E2DB;
}

.even {
	background-color:#FFF;
}

