/*
 * SimpleModal OSX Style Modal Dialog
 * http://www.ericmmartin.com/projects/simplemodal/
 * http://code.google.com/p/simplemodal/
 *
 * Copyright (c) 2010 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 *
 * Revision: $Id: osx.css 254 2010-07-23 05:14:44Z emartin24 $
 */

#osx-modal-content, #osx-modal-data {
	display:none;
}

#osx-modal-content{
	z-index:999;
}

/* Overlay */
#osx-overlay {
	background-color:#000;
	cursor:default;
}

/* Container */
#osx-container {
	background-color:#f6edec; 
	color:#000; 
	font-size: 11px;
	font-family:Georgia, "Times New Roman", Times, serif;
	padding:4px; 
	width:700px; 
	-moz-border-radius-bottomleft:6px; 
	-webkit-border-bottom-left-radius:6px; 
	-moz-border-radius-bottomright:6px; 
	-webkit-border-bottom-right-radius:6px; 
	border-radius:0 0 6px 6px; 
	-moz-box-shadow:0 0 25px #333; 
	-webkit-box-shadow:0 0 25px #333; 
	box-shadow:0 0 25px #333;
	z-index:999;
}


#osx-container #osx-modal-title {
	color:#6d5c4d; 
	border-bottom:1px solid #e6d0c6;
	text-align:center;
	font-weight:bold; 
	padding:6px 10px 8px 10px; 
	/* text-shadow:0 1px 0 #f4f4f4; */
}

#osx-container .close {
	display:none; 
	position:absolute; 
	right:0; 
	top:0;
}

#osx-container .close a {
	display:block;
	 color:#6d5c4d;
	 font-weight:bold; 
	 padding:6px 12px 0; 
	 text-decoration:none; 
	 /* text-shadow:0 1px 0 #f4f4f4; */
}

#osx-container .close a:hover {
	opacity:0.5;
}

#osx-container #osx-modal-data {
	font-size:12px; 
	padding:6px 12px;
}
#osx-container h2 {
	text-align:center;
	color:#6F6B69;
	font-size:11px;
	margin-top:15px;
}

#osx-container p {
	margin-bottom:10px;
	line-height:18px;
	text-align:justify;
	padding:10px;
	font-size:11px;
	color:#6F6B69;
	z-index:999;
}

#osx-container span {
	color:#6D5C4D;
	font-size:10px;
	text-align:center;
	margin-left:250px;
}

.simplemodal-close{
	background-color: #e6d0c6;
	border:none;
	display:inline;
	color: #6d5c4d;
	margin-left:305px;
	margin-bottom:5px;
}

/* Container 950px Show Volume Explorer for Fellows*/
#osx-container_950 {
	background-color:#f6edec; 
	color:#000; 
	font-size: 11px;
	font-family:Georgia, "Times New Roman", Times, serif;
	padding:4px 4px 0 4px; 
	width:950px; 
	-moz-border-radius-bottomleft:6px; 
	-webkit-border-bottom-left-radius:6px; 
	-moz-border-radius-bottomright:6px; 
	-webkit-border-bottom-right-radius:6px; 
	border-radius:0 0 6px 6px; 
	-moz-box-shadow:0 0 25px #333; 
	-webkit-box-shadow:0 0 25px #333; 
	box-shadow:0 0 25px #333;
	z-index:999;
}

#osx-container_950 a {
	color:#ddd;
}
#osx-container_950 #osx-modal-title {
	color:#6d5c4d; 
	border-bottom:1px solid #e6d0c6;
	text-align:center;
	font-weight:bold; 
	padding:6px 10px 8px 10px; 
	/* text-shadow:0 1px 0 #f4f4f4; */
}

#osx-container_950 .close {
	display:none; 
	position:absolute;
	margin:0 auto 0 550px;

}

#osx-container_950 .close a {
	display:block;
	 color:#6d5c4d;
	 font-weight:bold; 
	 padding:6px 12px 0; 
	 text-decoration:none; 
	 /* text-shadow:0 1px 0 #f4f4f4; */
}

#osx-container_950 .close a:hover {
	opacity:0.5;
}

#osx-container_950 #osx-modal-data {
	font-size:12px; 
	padding:6px 12px;
}
#osx-container_950 h2 {
	text-align:center;
	color:#6F6B69;
	font-size:11px;
	margin-top:15px;
}

#osx-container_950 p {
	margin-bottom:10px;
	line-height:18px;
	text-align:justify;
	padding:10px;
	font-size:11px;
	color:#6F6B69;
	z-index:999;
}

#osx-container_950 span {
	color:#6D5C4D;
	font-size:10px;
	text-align:center;
	margin-left:375px;
}

.simplemodal-close_950pxFellows{
	background-color: #e6d0c6;
	border:none;
	display:inline;
	color: #6d5c4d;
	margin-left:433px;
}

