/*
 * The Medici Archive Project
 * http://documents.medici.org/
 * 
 * Copyright (c) 2011 MAP
 *
 *
 * This style sheet contains all id and tag from the 403, 404, 500, 503 and User Password ERRORS 
 */

body {
	background-image:url(${contextPath}/images/bg_image.jpg);
	background-position:center;
	background-attachment:fixed;
	background-position:bottom;
	background-repeat:no-repeat;
	background-color:#f6edec;
	margin:0;
	font-size:small;
	color:#6F6B69;
	font-family:Georgia, "Times New Roman", Times, serif;
}

/* Structural Divs */

#layout { /* Website Container*/
	width:1000px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin:0px auto 0px;
	position:relative;
}

#map { /* THE MEDICI ARCHIVE PROJECT top image Container */
	width:270px;
	height:175px;
	margin-left:365px;
	position: absolute;
}


#text_error { /* Error message container */
	width:450px;
	height:295px;
	margin-top:250px;
	margin-left: 270px;	
	position:absolute;
	text-align:center;
	line-height:20px;
}

#text_error h2{ /* Error Text */
	font-size:22px;
}

