body {
	background:url(${contextPath}/images/1024/bg.jpg) repeat-x top center;
	background-color:#0c4f86;
	margin:0;
	padding:0;
	font-size: 12px;
	color: #F4EEE8;
	font-family:Georgia, "Times New Roman", Times, serif;
}

/* TAG */

input[type="text"], input[type="password"] {
	background-color: #8da9b7;
	color: #6d5c4d;
	padding:5px;
	margin: 5px 7px 5px 5px;
	width:130px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

/* Structural Divs */

#layout {
	width:1000px;
	margin:0px auto 0 auto;
	padding:0px;
	top:0px;
	position:relative;
}

#map { /* Idea logo */
	width: 200px;
	height:375px;
	float:left;
	background:url(${contextPath}/images/1024/img_mapLogin.png) no-repeat;
}

#map.login {
	margin-left: 260px;
}

#footer {
	width:600px;
	height: 95px;
	margin: 546px 0 0 211px;
	position:absolute;
}

.mellon {
	position: absolute;
	margin: 0 0 0 140px;
}

.dga {
	position: absolute;
	margin: 50px 0 0 0;
	display:none;

}

.archivio {
	margin: 50px 0 0 270px;
	position: absolute;
	display:none;

}


/* DIV Log in */

#login {
	width:305px;
	height:295px;
	margin-top:20px;
	margin-right: 230px;	
	float:right;
}

#login input[type="text"], #login input[type="password"] {
	width: 205px;
	margin-left: 0;
}

div.buttons {
    position:absolute;
    width:300px;
    height:400px;
    margin-left: 510px;
    margin-top: 295px;
}

/*  Log in - Form */

#login h1 {
	padding:15px 0 15px 0;
	margin:0;
	text-align:center;
	display: none; 
}

.loginform{ /*  Form class */
	width: 225px;
	height:220px;
	margin-top: 10px;
	margin-left: 44px;
	position:absolute;
}

.button_login, .button_medium {
	width: 127px;
	height: 22px;
	background: url(${contextPath}/images/1024/nav_buttons.png) 0 -52px transparent;
	cursor: pointer;
	text-align: center;
	display:block;
	margin: 10px 0 10px 0;
}

.fyp { /* Forgot your password class */
	 font-size: 11px;
	line-height:17px;
	width: 213px;
	margin: 20px 0 0 0;
	padding: 0;
	float: left;
	text-align: left;
}

.fyp a {
	font-size:90%;
}

input {
	border:none;
	color:#D6C8AF;
} 

.loginInput, .registerInput { /* INPUT text */
	background-color: #8da9b7;
	color: #6d5c4d;
	padding:5px;
	margin: 5px 7px 5px 5px;
	width:150px;
}

.remember { /* Remember me class */
	 font-size: 11px;
	 margin:  0;
	 display: inline-block;
	 vertical-align: middle;
}

.loginform input[type=checkbox] {
    display:inline-block;
    vertical-align:middle;
    margin-left: 0;
}

/* buttonons */

#register_here{
	background:url(${contextPath}/images/1024/button_registerHere.png) no-repeat;
	width:250px;
	height:55px;
	display: block;
	margin-left: 0;
}

#onlineCourses{
	background-image:url(${contextPath}/images/1024/button_onlineCourses.png);
	width:230px;
	height:65px;
	display: block;
	margin-top:10px
;
	display: none;
}

#guest {
	margin-top:10px;
}

#baseOn {
    position: absolute;
    margin: 500px 0 0 585px;
}

#baseOn img{
    vertical-align:middle;
}

#register {
	background-image:url(${contextPath}/images/1024/button_loginGuest.png);
	width:230px;
	height:65px;
}

.guest {
	margin:0px;
}

/*  Register - Form */

#registrationForm  { /*  Form content */
	width:850px;
	height:420px;
	margin-top: 20px;
	margin-left: 75px;	
	position:absolute;
	border:none;
	border-right:none;
	background-repeat:no-repeat;
	z-index:1;
}

#registrationForm h1 {
    text-align: left;
	
    margin: 5px 0 5px 145px;
}

#registrationForm .title{
	border-bottom:none;
	margin: 0 0 5px 145px;
	font-size:10px;
	text-align: left;
    padding-bottom:5px;
}

.registrationForm { /*  Form class */
	width: 800px;
	height:300px;
	margin-top: 30px;
	margin-left: 130px;
	position:absolute;
}

.registrationFormKO { /*  Form class */
	width:850px;
	height:290px;
	margin-top: 30px;
	margin-left:20px;
	position:absolute;
}


#captcha_register{
	position:absolute;
	width:250px;
	height:130px;
}

.readThis { /* read this text class */
	font-size: 10px;
	margin:10px 0px 0px 240px;
}

#submitbutton { /* submit button class */
	margin-left:140px;
	position:absolute;
	width:100px;
	height:30px;
}

.already { /* Already have an account? */
	color: #F4EEDE;
	font-size: 11px;
	margin: 0px 0px 0px 625px;
}

.already a { /* Already have an account? Links */
	font-size: 11px;
}

.inputerrors { /* Error Span messages */
	color:#DD3D27;
	font-size: 11px;
	float:left;
	text-shadow:1px 1px #222;
}

.loginerror { /* Error Span messages */
	color: #DD3D27;
	font-size:11px;
	border: #DD3D27 solid 1px;
	text-align:left;
	padding:2px;
	position:absolute;
	margin: 149px 0 0 188px;
	max-width:150px;
	text-shadow: 1px 1px #222;
}

#create {
	margin-left: 640px;
}

.compulsory {
	color:#DD3D27;
	text-shadow: 1px 1px #333;
}

/*  Recovery - Form */

#recovery { /*  Form content */
	width:480px;
	height:380px;
	margin-top:20px;
	margin-left: 265px;	
	position:absolute;
	border-right:none;
}

#recovery input[type="text"], #recovery input[type="password"] {
	width:310px;
	margin:0;
}

#recovery input[type="submit"] {
	margin:10px 0 0 0;
}

#recovery h1 {
	padding: 15px 0 15px 0;
	border-bottom:none;
	margin:0;
}

.recovery { /*  Form class */
	height: 198px;
	width: 460px;
}

.recoveryKO { /*  Form KO class */
	height:100px;
	width:650px;
	position:absolute;
}

#stemma { /*  Medici symbol */
	width:180px;
	height:220px;
	margin-top:260px;
	margin-left:620px;	
	position:absolute;
	background-image:url(${contextPath}/images/1024/img_coatofarms.png);
}

input.recoveryInput { /* input text class */
	border: none;
	color: #6d5c4d;
	width:250px;
	margin-left:0;
}

#captcha_recovery{
	width: 450px;
	height: 120px;
	margin-top:10px
}

#captcha_recoveryKO{
	width:250px;
	height:130px;
	margin-top:40px;
	z-index:2;
}

#recovery p {
	text-align: left;
	margin-top:30px;
	line-height: 20px;
}

.inputerrors_recovery { /* Error Span messages */
	color:#DD3D27;
	font-size: 11px;
	text-shadow: 1px 1px #222;
	display:block;
}

/*  SendUserActivationCode */

#activationcode { /*  Form content */
	width:480px;
	height:380px;
	margin-top:20px;
	margin-left:265px;	
	position:absolute;
	border:none;
	border-right:none;
}

#activationcode h1 {
	padding:15px 0 15px 0;
        
	text-align: left;
	border-bottom:none;
	margin:0;
}

#activationcode p {
	text-align: left;
	margin-top:30px;
	line-height: 20px;
	font-size: 13px;
}

/*  Registration Success */

#usersuccess { /* Div content */
	width:395px;
	height:275px;
	margin-top: 80px;
	margin-left: 305px;	
	position:absolute;
	border:none;
	border-right:none;
}

#usersuccess h1 {
	padding:15px 0 15px 0;
	border-bottom:none;
	margin:0;
	text-align:center;
}

#usersuccess a{ /* Div content */
	margin-left: 135px;	
}

.usersuccess {  /* p class */
	margin-top: 40px;
	margin-left:25px;
	height:50px;
	width:345px;
	position:absolute;
	text-align:center;
	line-height:20px;
	font-size: 13px;
}

.activsuccess {  /* p class */
	margin-top:65px;
	height:50px;
	width: 395px;
	text-align:center;
}


/* Reset Password */

#reset { /*  Form content */
	width:480px;
	height:380px;
	margin-top: 20px;
	margin-left: 265px;	
	position:absolute;
	border:none;
}

#reset h1 {
	padding: 15px 0 15px 0;
	border-bottom:none;
	margin:0;
}

.reset { /*  Form class */
	margin-top:25px;
	height:100px;
	width:250px;
	position:absolute;
}

#reset p{
	text-align:center;
	margin-top:130px;
	line-height:20px;
	font-size: 13px;
}

#reset a{
	text-decoration:underline;
	font-weight:bold;
}

#captcha_reset{
	width:250px;
	height:130px;
	margin-left: 10px;
	margin-top:24px;
	z-index:2;
}

#captcha_resetKO{
	width:250px;
	height:130px;
	margin-left: 10px;
	z-index:2;
}

.inputerrors_reset { /* Error Span messages */
	color:#900;
	font-size:11px;
	margin:10px 0 0 5px;
	float:left;
}

/* Tag */


h1 {
	font-size:110%;
	color: #F4EEDE;
}

a img, img {
   border:none;
}

a:focus { 
	outline: 0; 
}

a {
	text-decoration:none;
	color: #F4EEDE;
	margin-left: 5px;
}

/* ReCaptcha */

.recaptchatable .recaptcha_image_cell, #recaptcha_table {
	background-color:transparent; //reCaptcha widget background color
}
 
#recaptcha_table {
	border-color: none; //reCaptcha widget border color
	background-color:transparent;
}
 
#recaptcha_response_field {
	border-color:#6F6B69; //Text input field border color
}


/* -------------------------- Under Mainteinance ----------------------------- */

#maintenance {
	position: absolute;
	margin: 300px 0 0 350px;
	width: 290px;
	text-align: center;
	color:#666EA4;
}

#maintenance h1{
	font-size:17px;
	color:#666EA4;
}

/*  Password Expirated */

#passwordExpirated  { /*  Form content */
	width: 450px;
	height:420px;
	margin-top:190px;
	margin-left: 265px;	
	position:absolute;
	border:none;
	border-right:none;
	background-repeat:no-repeat;
	z-index:1;
}

#passwordExpirated h1 {
        text-align:center;
	margin: 5px 0 5px 0;
        border-bottom: none;
        padding: 15px 0 15px 0;
}

#passwordExpirated fieldset{ 
	border:none;
}

.list { /* Whole display list */
	margin: 20px 0 0 70px;
 	 width: 350px;
}

.row { /* Single row */
	display: table-row;
}


.list .col_r{ /* Sub-fields title cell */
	display: table-cell;
	text-align:right;
}

.list .col_l{ /* Sub-fields title cell */
	 display: table-cell;
	 text-align:left;
}

.button_small {
	cursor:pointer;
	background-color:transparent;
	background-image:url(${contextPath}/images/1024/button_small.png);
	width:52px;
	height:22px; 
	border:none;
	text-align: center;
	padding-top: 3px;
	background-repeat: no-repeat;
}

input#update {
    margin: 200px 0 0 120px;
}