/*
 * The Medici Archive Project
 * http://documents.medici.org/
 * 
 * Copyright (c) 2011 MAP
 *
 *
 * This style sheet contains all classes, id and tag from the MAIN CONTENT elements
 */
 
/* -------------------------------------------- DISPLAY COMMON ELEMENTS ----------------------------------------------------------- */

html {
	margin:0;
}

body {
	color: #6F6B69;
}

h3 {
	font-size: 12px;
	font-style: normal;
	padding:0;
	color: #6F6B69;
}

p {
	font-size:12px;
	line-height:18px;
}

h1 {
	text-decoration:underline;
	font-weight:bold;
	margin-top:30px;
}

h4 {
	font-weight:bold;
	font-size:12px;
	font-style:normal;
	padding:0;
	margin-top:15px;
}

#cover, #index { /* Wrappers */
	width:950px;
	height: 1000px;
	margin:0px auto 0 auto;
	padding:0px;
	top:0px;
	position:relative;
}

#chapter1, #chapter2, #chapter3, #chapter4, #chapter5, #chapter6 {
	height:auto;
	margin: 250px auto 0 auto;
	padding:25px;
	text-align:justify;
	width: 950px;
}

a{
	font-size:12px;
}

a.link {
	text-decoration: underline;
	color: #B7958F;
	font-size:12px;
}

/* -------------------------------------------------- MANUAL COVER --------------------------------------------------------------- */

#cover { 
	background-image:url(/DocSources/images/1024/bg.jpg);
	background-position:center;
	background-repeat:no-repeat;
}

#cover #map{ /* The Medici Archive Project image */
	width:270px;
	height:175px;
	position: relative;
	margin: 0 auto 0 auto;
	background:url(/DocSources/images/1024/img_map.png) no-repeat;
}

#cover h1{ /* "Documentary Sources for the Arts and Humatities: 1537 - 1743" */
	font-size: 16px;
	text-align: center;
	font-style: italic;
	margin-top: 100px;
}

#cover h2{ /* "Data Entry Manual" */
	font-size: 16px;
	text-align: center;
	font-style: italic;
	margin-top: 50px;
}

#cover a.goToIndex{ /* "Go to Index" button */
	width:122px;
	height:22px;
	position:absolute;
	margin:70px 0 0 420px;
	display:inline;
	background-image:url(/DocSources/images/1024/button_medium.png);
	background-repeat:no-repeat;
	padding:4px 0 0 0;
	text-align:center;
}

a:hover {
	opacity:0.5; /* FireFox, Chrome, Safari */
	-moz-opacity: 0.5;
	filter:alpha(opacity=50); /* IE */ !important
}

.backToIndex {
	position:fixed;
	width: 120px;
	height: 21px;
	text-align:center;
	padding-top:4px;
	bottom:5px;
	right:5px;
	color: #F6EDEC;
	margin: 0 15px 0 0;
	z-index: 100;
	box-shadow: 0 0 15px #f6edec;
	background-color: #666EA4;
	border: 2px solid #F6EDEC;
	border-radius: 7px;
}

.backToIndex:hover {
	opacity:1; /* FireFox, Chrome, Safari */
	-moz-opacity: 1;
	filter:alpha(opacity=100); /* IE */ !important
}


/* ----------------------------------------------------- INDEX ------------------------------------------------------------------- */

#index  {
	padding:25px;
	height: 1200px;
}

#index ul{
	list-style-type:upper-roman;
	line-height:18px;
}

#index h3 a, #index h3{
	font-size: 12px;
	font-style: normal;
	padding:0;
	color: #6F6B69;
	text-align: center;
	text-decoration: underline;
	margin-bottom: 25px;
}

#index .subtitle{
	font-size:11px;
	line-height: 22px;
	margin-left: 15px;
}

#index .sublist {
	margin-left: 35px;
	font-size: 11px;
	line-height: 22px;
}

#index .number {
	font-style:normal;
	font-weight:bold;	
}


/* ----------------------------------------------------- CONTENT ----------------------------------------------------------------- */


ul{
	font-size:12px;
	line-height:18px;
}

#chapter1 ul li, #chapter2 ul li, #chapter3 ul li, #chapter4 ul li, #chapter5 ul li, #chapter6 ul li {
	margin-top:10px;
}

#chapter3 ul.topicsList li {
	margin-top:0;
	list-style:decimal;
}

ul.letters li, ul.numbers li ul.letters li{
	list-style:lower-latin;
}

ul.numbers li{
	list-style:decimal;
}



