body {
	background-image:url(/DocSources/images/1024/bg.jpg);
	background-position:center;
	background-repeat:no-repeat;
	background-color:#f6edec;
	margin:0;
	padding:0;
	font-size:small;
	color:#6F6B69;
	font-family:Georgia, "Times New Roman", Times, serif;
}

/* Structural Divs */

#layout {
	width:1000px;
	height:700px;
	margin:0px auto 0 auto;
	padding:0px;
	top:0px;
	position:relative;
}

#map { /* The Medici Archive Project image */
	width:270px;
	height:175px;
	margin-left:365px;
	position:absolute;
	background:url(/DocSources/images/1024/img_map.png) no-repeat;
}

#footer {
	width:600px;
	height:53px;
	margin:600px 0 0 215px;
	position:absolute;
	background:url(/DocSources/images/1024/img_logoLoginUser.png) no-repeat;
}

.dga {
	float:left;
}

.archivio {
	float:right;
}


/* DIV Log in */

#login {
	width:305px;
	height:295px;
	margin-top:220px;
	margin-left: 210px;	
	position:absolute;
	border:1px solid #AEAEAE;
	border-right:none;
}

/*  Log in - Form */

#login h1 {
	padding:15px 0 15px 90px;
	border-bottom:1px solid #AEAEAE;
	margin:0;
}

.loginform{ /*  Form class */
	width:200px;
	height:220px;
	margin-top: 10px;
	margin-left:55px;
	position:absolute;
	font-family:Georgia, "Times New Roman", Times, serif;
}

.button_login {
	background-image:url(/DocSources/images/1024/button_login.jpg);
}

.fyp { /* Forgot your password class */
	font-size: 80%;
	line-height:13px;
}

.fyp a {
	font-size:90%;
}

input {
	font-family: Georgia, "Times New Roman", Times, serif;
	margin-top:7px;
	border:none;
	color:#60584d;
	float:left;
}

.loginInput, .registerInput { /* INPUT text */
	font-size:12px;
	font-family:Georgia, "Times New Roman", Times, serif;
	border: 1px solid #DCC0BA;
	-moz-border-radius: 4px;
	border-radius: 4px;	
	background-color: #fbf7f4;
	color: #6d5c4d;
	padding:3px;
	margin: 5px 7px 5px 5px;
	width:150px;
}

.remember { /* Remember me class */
	font-size: 80%;
	margin-left: 70px;
}

/* buttonons */

#register_here{
	margin-top:220px;
	margin-left:585px;
	position:absolute;
	background-image:url(/DocSources/images/1024/button_registerhere.jpg);
	width:228px;
	height:65px;
}

#guest {
	margin-top:300px;
	margin-left:585px;
	position:absolute;
}

#register {
	background-image:url(/DocSources/images/1024/button_guest.jpg);
	width:228px;
	height:65px;
}

.guest {
	margin:0px;
}

/*  Register - Form */

#registrationForm  { /*  Form content */
	width:850px;
	height:420px;
	margin-top:190px;
	margin-left: 75px;	
	position:absolute;
	border:1px solid #AEAEAE;
	border-right:none;
	background-repeat:no-repeat;
	z-index:1;
}

#registrationForm h1 {
	padding:7px 0 5px 340px;
	margin:0;
}

#registrationForm .title{
	padding:0 0 8px 347px;
	border-bottom:1px solid #AEAEAE;
	margin:0;
	font-size:10px;
}

.registrationForm { /*  Form class */
	width:850px;
	height:300px;
	margin-top: 30px;
	margin-left:20px;
	position:absolute;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:90%;
}

.registrationFormKO { /*  Form class */
	width:850px;
	height:290px;
	margin-top: 30px;
	margin-left:20px;
	position:absolute;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:90%;
}


#captcha_register{
	position:absolute;
	width:250px;
	height:130px;
}

.readThis { /* read this text class */
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 10px;
	margin:10px 0px 0px 240px;
}

.readThis a {
	font-size:95%;
}

#submitbutton { /* submit button class */
	margin-left:140px;
	position:absolute;
	width:100px;
	height:30px;
}

.already { /* Already have an account? */
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#886863;
	font-size: 11px;
	margin:0px 0px 0px 660px;
}

.already a { /* Already have an account? Links */
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#642221;
	font-size: 11px;
}

.inputerrors { /* Error Span messages */
	color:#900;
	font-size:10px;
	float:left;
}

.loginerror { /* Error Span messages */
	color:#900;
	font-size:11px;
	border:#900 solid 1px;
	text-align:left;
	padding:2px;
	position:absolute;
	margin: 145px 0 0 210px;
	max-width:150px;
}

/*  Recovery - Form */

#recovery { /*  Form content */
	width:480px;
	height:380px;
	margin-top:200px;
	margin-left: 265px;	
	position:absolute;
	border:1px solid #AEAEAE;
	border-right:none;
}

#recovery h1 {
	padding:15px 0 15px 150px;
	border-bottom:1px solid #AEAEAE;
	margin:0;
}

.recovery { /*  Form class */
	margin-left:20px;
	height:100px;
	width:250px;
	position:absolute;
}

.recoveryKO { /*  Form KO class */
	margin-left:20px;
	height:100px;
	width:650px;
	position:absolute;
}

#stemma { /*  Medici symbol */
	width:180px;
	height:220px;
	margin-top:260px;
	margin-left:620px;	
	position:absolute;
	background-image:url(/DocSources/images/1024/img_coatofarms.png);
}

.recoveryInput { /* input text class */
	font-size:12px;
	font-family:Georgia, "Times New Roman", Times, serif;
	border: 1px solid #DCC0BA;
	-moz-border-radius: 4px;
	border-radius: 4px;	
	background-color: #fbf7f4;
	color: #6d5c4d;
	padding:3px;
	margin: 5px 7px 5px 5px;
	width:250px;
	margin-left:90px;
}

#captcha_recovery{
	width:250px;
	height:130px;
	margin-left: 10px;
	margin-top:50px;
	z-index:2;
}

#captcha_recoveryKO{
	width:250px;
	height:130px;
	margin-left: 10px;
	margin-top:40px;
	z-index:2;
}

#recovery p {
	text-align:center;
	margin-top:30px;
	line-height: 20px;
}

.inputerrors_recovery { /* Error Span messages */
	color:#900;
	font-size:85%;
	margin-left:85px;
}

/*  SendUserActivationCode */

#activationcode { /*  Form content */
	width:480px;
	height:380px;
	margin-top:200px;
	margin-left:265px;	
	position:absolute;
	border:1px solid #AEAEAE;
	border-right:none;
}

#activationcode h1 {
	padding:15px 0 15px 150px;
	border-bottom:1px solid #AEAEAE;
	margin:0;
}

#activationcode p {
	text-align:center;
	margin-top:30px;
	line-height: 20px;
}

/*  Registration Success */

#usersuccess { /* Div content */
	width:395px;
	height:275px;
	margin-top:220px;
	margin-left: 305px;	
	position:absolute;
	border:1px solid #AEAEAE;
	border-right:none;
}

#usersuccess h1 {
	padding:15px 0 15px 0;
	border-bottom:1px solid #AEAEAE;
	margin:0;
	text-align:center;
}

.usersuccess {  /* p class */
	margin-top:50px;
	margin-left:25px;
	height:50px;
	width:345px;
	position:absolute;
	text-align:center;
	line-height:20px;
	font-size:12px;
}

.activsuccess {  /* p class */
	margin-top:60px;
	margin-left:75px;
	height:50px;
	width:250px;
	position:absolute;
	text-align:center;
	line-height:30px;
}


/* Reset Password */

#reset { /*  Form content */
	width:480px;
	height:380px;
	margin-top:200px;
	margin-left: 265px;	
	position:absolute;
	border:1px solid #AEAEAE;
	border-right:none;
}

#reset h1 {
	padding:15px 0 15px 170px;
	border-bottom:1px solid #AEAEAE;
	margin:0;
}

.reset { /*  Form class */
	margin-top:25px;
	margin-left:20px;
	height:100px;
	width:250px;
	position:absolute;
}

#reset p{
	text-align:center;
	margin-top:130px;
	line-height:20px;
}

#reset a{
	text-decoration:underline;
	font-weight:bold;
}

#captcha_reset{
	width:250px;
	height:130px;
	margin-left: 10px;
	margin-top:24px;
	z-index:2;
}

#captcha_resetKO{
	width:250px;
	height:130px;
	margin-left: 10px;
	z-index:2;
}

.inputerrors_reset { /* Error Span messages */
	color:#900;
	font-size:11px;
	margin:10px 0 0 5px;
	float:left;
}

/* Tag */


h1 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:110%;
	color:#6F6B69;
}

a img, img {
   border:none;
}

a:focus { 
	outline: 0; 
}

a {
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration:none;
	color:#6F6B69;
	font-size:small;
}

/* ReCaptcha */

.recaptchatable .recaptcha_image_cell, #recaptcha_table {
	background-color:transparent; //reCaptcha widget background color
}
 
#recaptcha_table {
	border-color: none; //reCaptcha widget border color
	background-color:transparent;
}
 
#recaptcha_response_field {
	border-color:#6F6B69; //Text input field border color
}


