blockquote {
	display: block;
	margin-left: 30px;
	margin-right: 30px;
	border: 1px dashed #DCC0BA;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: #EFEFEF;
}

blockquote div.postContent {
	padding: 10px;
}

blockquote cite {
	display: block;
	font-style: normal;
	font-weight: bold;
	padding: 5px;
	background-color: #DCC0BA;
	color: #FFF;
	border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	border-bottom: none;
	margin-left: 0px;
}

blockquote cite span.quoteUser {
	font-style: italic;
	font-size: 1.1em;
}