@charset "utf-8";
/* CSS Document */

body {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:small;
}

ul {
	list-style:none;
	line-height:20px;
}

a {
	font-size: x-small;
	color:#666;
}

p {
	text-align:justify;
}

h5 {
	float:right;
}

h4, h2 {
	float:left;
}

#body_left {
	background-image:url(../images/frame_bg.jpg);
	background-repeat:repeat-y;
}
