body {
	background-image:url(../images/bg_image.jpg);
	background-position:center;
	background-repeat:no-repeat;
	background-color:#f6edec;
	margin:0;
	padding:0;
	font-size:small;
	color:#6F6B69;
	font-family:Georgia, "Times New Roman", Times, serif;
}

/* Structural Divs */

#layout {
	width:1000px;
	height:750px;
	margin:0px auto 0 auto;
	padding:0px;
	top:0px;
	position:relative;
}

#map { /* The Medici Archive Project image */
	width:270px;
	height:165px;
	position:absolute;
	z-index:2;
}

#top_top { /* Menu top */
	width:750px;
	height:95px;
	margin-left:250px;
	position:absolute;
}

#top_middle { /* Menu middle */
	width:745px;
	height:60px;
	margin-top:95px;
	margin-left:255px;
	position:absolute;
	z-index:2;
	background-image:url(../images/top_middle_bg.png);
}

#top_bottom { /* User Interface */
	width:1000px;
	height:25px;
	margin-top:158px;
	position:absolute;
	z-index:1;
}

#DocSourcesContent { /* Main content */
	width:1000px;
	height:auto;
	margin-top:185px;
	position:absolute;
}

#footer {
	width:1000px;
	height:30px;
	margin-top:620px;
	position:absolute;
}


/* top_top (Search form) */

#searchForm {
	width:240px;
	height:80px;
	margin-left:40px;
	margin-top:2px;
	position:absolute;
	font-size:85%;
}

.input_search { /* input text class */
	background-image:url(../images/input_search_bg.png);
	background-color: transparent;
	background-repeat:no-repeat;
	height:30px;
	border:none;
	width:150px;
	padding-left:10px;
	margin-top:0px;
}

.select{ /* dropdown menu class */
	background-image:url(../images/select_bg.png);
	background-color: transparent;
	background-repeat:no-repeat;
	height:25px;
	border:none;
	width:100px;
	padding-left:10px;
	padding-top:7px;
	margin-top:10px;
	font-size:103%;
	color:#6F6B69;
	outline:0px; 
}

.select option{
	background-color: transparent;
	
}

/* top_top (Last Entry) */

#lastentry {
	width:480px;
	height:90px;
	margin-left:240px;
	position:absolute;
	list-style:none;
	float:left;
}

#menulastentry {
	width:480px;
	height:90px;
	list-style:none;
	float:left;
}

#menulastentry li{
	float:left;
}

#menulastentry a{
	float:left;
	display:block;
	text-decoration:none;
	padding-left:10px;
}


/* top_middle (Main Menu) */

.menumain {
	margin-left:0px;
	z-index:2;
}

/* top_bottom (User Interface) backgrounds */

.docs {
	background-image:url(../images/user_interface_docs.png);
}

.person {
	background-image:url(../images/user_interface_person.png);
}

.vol {
	background-image:url(../images/user_interface_vol.png);
}

.geo {
	background-image:url(../images/user_interface_geo.png);
}


/* top_bottom (Who I am? Text) */

#top_bottom p{
	color:#FFF;
	margin-top:5px;
	float:right;
	padding-right:30px;
	font-size:80%;
}


/* top_bottom (Administrator Menu) */

#adm_menu {
	float:left;
	height:25px;
	width: 600px;
	margin-top:0px;
	font-size: 80%;

}

#adm_menu a{
	color:#fff;
}

/* Welcome Page */

#welcome {
	width:900px;
	position:absolute;
}

#welcome h1{
	font-size:120%;
	margin-top:40px;
	margin-left:135px;
	position:absolute;
}

.welcome_list{
	margin-left: 450px;
	margin-top:100px;
	line-height:20px;
	list-style-type:none;
	position:absolute;
}

.welcome_list ul li{
	list-style-type:none;
}

#colte_of_arms { /*  Medici symbol */
	width:180px;
	height:220px;
	margin-top:100px;
	margin-left: 220px;	
	position:absolute;
	background-image:url(../images/stemma.png);
}

#button_courses {
	width:200px;
	height:65px;
	margin-top:20px;
	margin-left:750px;
	position:absolute;
}

/* Slipt Screen */

#body_left{
	width:45%;
	height:auto;
	padding-left:25px;
	padding-top:10px;
	float:left;
	position:absolute;
	font-size:85%;
	
}

#body_right{
	width:45%;
	height:auto;
	padding-left:10px;
	padding-right:25px;
	float:right;
	position:absolute;
	background-color:#000;
}

#body_separator {
	width:10%;
	height:auto;
	position:absolute;
	background-image:url(../images/line.png);
	background-repeat:repeat-y;
}

/* Tag - Slipt Screen*/

#body_left ul li{
	list-style:none;
	line-height:18px;
	margin:0px;
	padding:0px;
	text-align:justify;
}

#body_left h5{
	font-size:100%;
	padding-right:170px;
	display:inline;
	color:#6d5c4d;
}

#body_left h6{
	font-size:90%;
	text-align:right;
	font-weight:normal;
	display:inline;
}

#body_left h3{
	text-align:center;
	font-style:italic;
	padding-top:15px;
	padding-bottom:15px;
}

#body_left a{
	text-decoration:underline;
	font-weight:100;
	font-size:95%;
	color:#b99c84;
}



/* Tag */

h1 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:110%;
	color:#6F6B69;
}

a img {
   border:0px;
}

a:focus { 
	outline: 0px; 
}

a {
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration:none;
	color:#6F6B69;
	font-size:small;
}

hr {
	margin:0 0 0 25px;
	padding:0;
	width:700px;
	color:#E5B091;
	background-color:#E5B091;
	height:1px;
	border:0;
}

input { 
	outline: 0px; 
}
