.titlepeople{ /* Series List */
	padding-top:15px;
	padding-bottom:15px;
	font-size:14px;
	font-style:italic;
	color:#006;
}

#body_left a:hover, #body_right a:hover, #body_central a:hover{
	opacity:0.5;
}


h3{ /* Series List */
	text-align:center;
	font-style:italic;
	padding-top:15px;
	padding-bottom:15px;
}

h4{ /* TGN, MAP, MapSite Title */
	text-align:left;
	font-size:13px;
	font-style:italic;
}

h5{ /* Titles */
	font-size:11px;
	display:inline;
	color:#6d5c4d;
}

h6{ /* Created by Text */
	font-size:85%;
	text-align:right;
	font-weight:normal;
}

#createdby { /* Created by DIV */
	position:absolute;
	margin-left:300px;
	margin-top:-30px;
	width:150px;
}

#body_left a, #body_right a, #body_central a{ /* Edit buttons */
	text-decoration:underline;
	font-weight:100;
	font-size:11px;
	color:#b99c84;
}


.not_editable { /* Edit buttons not editable (TGN Place, Map Place, Map Site Place) */
	font-size:11px;
	color:#C00;
	margin:0;
	display:inline;
	cursor:help;
}

ul li{ /* Lists */
	list-style:none;
	line-height:18px;
	text-align:justify;
}

.inline { /* inline lists */
	display:inline;
	padding-right:50px;
}

.edit { /* Edit Form class */
	font-size:90%;
	font-family:Georgia, "Times New Roman", Times, serif;
}

fieldset {
	border: 1px solid #e6d0c6;
	background-color:#f3e7e2;
	padding-left:30px;
	
}

legend {
	font-size:110%;
	color:#6d5c4d;
	background-color:#e6d0c6;
}

input {
	font-size:100%;
	font-family:Georgia, "Times New Roman", Times, serif;
}

.checkbox1{
	margin:0px 45px 0px 10px;
}

.checkbox2{
	margin:0px 45px 0px 4px;
}

.checkbox3{
	margin:0px 45px 0px 18px;
}

.checkboxDoc1{
	margin:0px 15px 0px 7px;
}

.checkboxDoc2{
	margin:0px 0px 0px 7px;
}

.checkboxDoc2{
	margin:0px 0px 0px 7px;
}

.checkboxPers1{
	margin:5px 50px 0px 5px;
}

.checkboxPers2{
	margin:5px 0px 0px 5px;
}

.button {
	background-color: #e6d0c6;
	border:none;
	display:inline;
	color: #6d5c4d;
}

.input_1c { 
	width: 13px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	color: #000000;
	padding-left:3px;
	margin: 5px 7px 5px 5px; /* top right bottom left */
}

.input_2c { 
	width: 20px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	color: #000000;
	padding-left:7px;
	margin: 5px 7px 5px 5px; /* top right bottom left */
}

.input_2c_disabled { 
	width: 20px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	color: #000000;
	padding-left:7px;
	margin: 5px 7px 5px 5px; /* top right bottom left */
	opacity:0.3;
}

.input_3c { 
	width: 25px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	color: #000000;
	padding-left:5px;
	margin: 5px 7px 5px 5px; /* top right bottom left */
}

.input_4c { 
	width: 30px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	color: #000000;
	padding-left:5px;
	margin: 5px 7px 5px 5px; /* top right bottom left */
}

.input_4c_disabled { 
	width: 30px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	color: #000000;
	padding-left:7px;
	margin: 5px 7px 5px 5px; /* top right bottom left */
	opacity:0.3;
}

.input_5c { 
	width: 40px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	color: #000000;
	padding-left:7px;
	margin: 5px 7px 5px 5px; /* top right bottom left */
}

.input_10c { 
	width: 87px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	color: #000000;
	padding-left:7px;
	margin: 5px 7px 5px 5px; /* top right bottom left */
}

.input_10c_disabled {  /* disabled input */
	width: 87px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	color: #000000;
	padding-left:7px;
	margin: 5px 7px 5px 5px; /* top right bottom left */
	opacity: 0.3;
}

.input_14c { 
	width: 110px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	color: #000000;
	padding-left:7px;
	margin: 5px 7px 5px 5px; /* top right bottom left */
}

.input_15c { 
	width: 120px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	color: #000000;
	padding-left:7px;
	margin: 5px 7px 5px 5px; /* top right bottom left */
}

.input_20c { 
	width: 160px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	color: #000000;
	padding-left:7px;
	margin: 5px 7px 5px 5px; /* top right bottom left */
}

.input_23c { 
	width: 180px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	color: #000000;
	padding-left:7px;
	margin: 5px 7px 5px 5px; /* top right bottom left */
}

.input_25c { 
	width: 220px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	color: #000000;
	padding-left:7px;
	margin: 5px 7px 5px 5px; /* top right bottom left */
}

.input_28c { 
	width: 240px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	color: #000000;
	padding-left:7px;
	margin: 5px 7px 5px 5px; /* top right bottom left */
}

.input_28c_disabled { 
	width: 240px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	color: #000000;
	padding-left:7px;
	margin: 5px 7px 5px 5px; /* top right bottom left */
	opacity: 0.3;
	cursor:default;
}

.input_30c { 
	width: 250px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	color: #000000;
	padding-left:10px;
	margin: 5px 6px 5px 5px; /* top right bottom left */
}

.input_33c { 
	width: 280px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	color: #000000;
	padding-left:10px;
	margin: 5px 6px 5px 5px; /* top right bottom left */
}


.input_35c { 
	width: 308px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	color: #000000;
	padding-left:10px;
	margin: 5px 6px 5px 5px; /* top right bottom left */
}

.input_39c { 
	width: 320px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	color: #000000;
	padding-left:10px;
	margin: 5px 6px 5px 5px; /* top right bottom left */
}

.input_40c { 
	width: 345px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	color: #000000;
	padding-left:10px;
	margin: 5px 6px 5px 5px; /* top right bottom left */
}

.input_45c { 
	width: 370px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	color: #000000;
	padding-left:10px;
	margin: 5px 6px 5px 0px; /* top right bottom left */
}

.selectform{ /* dropdown menu class */
	width:80px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	padding-left:3px;
	margin: 5px 7px 5px 5px; /* top right bottom left */
	font-size:100%;
	font-family:Georgia, "Times New Roman", Times, serif;
}

.selectform_disabled{ /* dropdown menu class */
	width:80px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	padding-left:3px;
	margin: 5px 7px 5px 5px; /* top right bottom left */
	font-size:100%;
	font-family:Georgia, "Times New Roman", Times, serif;
	opacity:0.3;
}

.selectform_short{ /* short dropdown menu class */
	width:50px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	padding-left:3px;
	margin: 5px 7px 5px 5px; /* top right bottom left */
	font-size:100%;
	font-family:Georgia, "Times New Roman", Times, serif;
}

.selectform_long{ /* dropdown menu class */
	width:100px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	padding-left:3px;
	margin: 5px 7px 5px 5px; /* top right bottom left */
	font-size:100%;
	font-family:Georgia, "Times New Roman", Times, serif;
}

.selectform_Xlong{ /* dropdown menu class */
	width:190px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	padding-left:3px;
	margin: 5px 7px 5px 5px; /* top right bottom left */
	font-size:100%;
	font-family:Georgia, "Times New Roman", Times, serif;
}

.selectform_long_disabled{ /* dropdown menu class  disabled*/
	width:100px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	padding-left:3px;
	margin: 5px 7px 5px 5px; /* top right bottom left */
	font-size:100%;
	font-family:Georgia, "Times New Roman", Times, serif;
	opacity:0.4;
}

.txtarea { 
	width: 372px;
	height:40px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	color: #000000;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:90%;
	padding:5px 10px 5px 10px;
	margin: 5px 7px 5px 0px; /* top right bottom left */
}

.txtarea_disabled { 
	width: 372px;
	height:40px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	color: #000000;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:90%;
	padding:5px 10px 5px 10px;
	margin: 5px 7px 5px 0px; /* top right bottom left */
	opacity:0.3;
}


.txtarea_big { 
	width: 372px;
	height:120px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	color: #000000;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:90%;
	padding:5px 10px 5px 10px;
	margin: 5px 7px 5px 0px; /* top right bottom left */
}

.txtarea_small { 
	width: 372px;
	height:30px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	color: #000000;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:90%;
	padding:5px 10px 5px 10px;
	margin: 5px 7px 5px 0px; /* top right bottom left */
}

hr {
	margin:10px 0 10px 0;
	padding:0;
	width:383px;
	color:#e6d0c6;
	background-color:#e6d0c6;
	height:1px;
	border:0;
}

#body_right hr{
	margin:5px 0 10px 0;
	padding:0;
	width:450px;
	color:#e6d0c6;
	background-color:#e6d0c6;
	height:1px;
	border:0;
}




#EditCorrespondentsDocumentForm, #EditExtSynDocumentDiv, #EditDetailsDocumentDiv, #EditFactCheckDocumentDiv, #EditCorrespondentsDocumentDiv, #EditExtractOrSynopsisDocumentDiv, #EditDetailsVolumeDiv, #EditDescriptionVolumeDiv, #EditCorrespondentsVolumeDiv, #EditContextVolumeDiv, #EditDetailsPersonDiv, #EditNamesPersonDiv, #EditCorrespondentsDocumentDiv, #EditExtSynDocumentDiv, #EditNamesPersonDiv, #EditTitleOccupationsPersDiv, #EditRelationshipPersDiv, #EditDetailsPersonForm, #EditDetailsPlaceDiv, #EditNamePlaceDiv, #EditExtLinkPlaceDiv, #EditGeoCoorPlaceDiv, #EditFactChecksDocumentDiv, #EditRelationshipPersonDiv, #EditTitlesOccupationsPersonDiv, #EditResearchNotesPersonDiv, #SpousesPersonForm, #TopicsDocumentForm, #EditTopicsDocumentForm {
	width:450px;
}

#EditParentsPersonDiv, #EditChildrenPersonDiv, #EditSpousesPersonDiv, #AdddChildPersonForm, #AddSpousePersonForm, #AddNamesPersonForm, #AddTitlesOccupationsPersonForm, #AddPersonCorrespondentsDocumentForm, #AddTopicsDocumentForm, #AddExtLinkTgnPlaceForm, #AddExtLinkMapPlaceForm, #AddExtLinkMapSitePlaceForm, #AddNameTgnPlaceForm, #AddNameMapPlaceForm, #AddNameMapSitePlaceForm {
	width:450px;
	margin-top:10px;
}

select {
	color: #6d5c4d;
	background-color: #fbf7f4;
}

#EditPortraitPersonDiv {
	float:right;
	margin-top:50px;
	z-index:1;
}

div.fileinputs {
	position: relative;
}

div.fakefile {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

input.file {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
	width: 345px;
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	color: #000000;
	padding-left:10px;
	margin: 5px 6px 5px 5px; /* top right bottom left */
}

/* VOLUME */

/* EditDetailsVolume */

#volNumLabel {
	margin-left:79px;
}

#volLeTextLabel {
	margin-left:4px;
}

#startMonthLabel {
	margin-left:18px;
}

#startDayLabel {
	margin-left:17px;
}

#endYearLabel {
	margin-left:5px;
}

#endMonthLabel {
	margin-left:23px;
}

#endDayLabel {
	margin-left:22px;
}

#dateNotesLabel {
	margin:10px 0 0 0;
}

#close {
	margin-top:5px;
	cursor:pointer;
}

#closeProfile {
	margin-top:5px;
}

#save {
	margin-left:300px;
	cursor:pointer;
}

#saveProfile {
	margin-left:160px;
}


.errors {
	color:#F00;
	margin: 0 0 0 130px;
}

/* EditDescriptionVolume */

#orgCriteriaDiv {
	margin-top:5px;
}

#conditionLabel {
	margin-left:6px;
}

#boundLabel {
	margin-left:23px;
}

#foliosNumLabel {
	margin-left:116px;
}

#alphaIndexLabel {
	margin-left:59px;
}

#printedDrawingsLabel {
	margin-left:70px;
}

#languagesDiv {
	margin-bottom:15px;
}

#italianLabel, #spanishLabel {
	margin-left:50px;
}

#frenchLabel, #germanLabel, #latinLabel, #englishLabel {
	margin-left:5px;
}

/* EditCorrespondentsVolume */

#toCorrespLabel {
	margin-left:13px;
}


/* Volume Explorer */

iframe{
	margin-top:10px;
	border:1px solid #e6d0c6; 	
	width:450px;
	height:300px;
	z-index:1;
}

.iframeFlipVolume {
	z-index:1;
	position:relative;
}

#prevNextButtons {
	margin:10px 0 10px 175px;
	width: 100px;
	z-index:2;
}

#prevNextButtons #prevButton {
	float:left;
}

#prevNextButtons #nextButton {
	float:right;
}


#moveToFolioForm {
	margin-left:320px;
	width:150px;
	display:inline;
	color:#6d5c4d;
	position:absolute;
}

#moveToLabel {
	font-size:10px;
	margin:0 0 0 -100px;
	position:absolute;
	color:#6d5c4d;
}

#moveTo {
	margin:-3px 0 0 -30px;
	position:absolute;
}

#go {
	margin:-6px 0 0 15px;
}

#folioCountForm {
	display:inline;
	color:#6d5c4d;
	margin-top:10px;
	position:relative;
}

#refreshVolumeExplorer {
	margin: 0 0 0 316px;
	position:absolute;
	display:inline;
}

#flipItInFullScreen {
	margin-top: 25px;
	position:absolute;
	display:inline;
}


/* Volume Explorer FullScreen Fellows*/

#contentFancy {
	margin:0 auto 0 auto;
	position:relative;
	width: 100%;
	height:100%;
}


#flipFullScreenFancyFel iframe{
	width:100%;
	height:90%;
	border:1px solid #e6d0c6; 
	margin: 10px 0 0 0;	
}

#contentFancy #prevNextButtons{
	margin:-15px 0 0 88%;
}

#contentFancy #refresh{
	margin:0 0 0 35%;
}


#contentFancy #transcribeButton{
	margin:0 0 0 35%;
}

#contentFancy a:hover{
	opacity: 0.5;
}

.inactive {
	
}

img{
	border:none;
}

#flipFullScreenFancy iframe{
	width: 600px;
	height:400px;
	border:1px solid #e6d0c6; 	
	margin-left:100px;
	margin-top:10px
}

#contentFancy a{
	font-weight:bold;
	font-style:italic;
}

/* Volume Explorer FullScreen Community*/

#contentFancyCom {
	margin:0 auto 0 auto;
	position:relative;
	width: 100%;
	height:100%;
}

#flipFullScreenFancyFelCom iframe{
	width:66%;
	height:66%;
	border:1px solid #e6d0c6; 
	margin: 1% 15% 0 17%;
	position:relative;	
}

#contentFancyCom #prevNextButtons{
	margin-left:45%;
	
}

#contentFancyCom #transcribeButton{
	
}

#contentFancyCom a:hover{
	opacity: 0.5;
}

#contentFancyCom hr{
	margin:5px 0 10px 0;
	padding:0;
	width:100%;
	color:#e6d0c6;
	background-color:#e6d0c6;
	height:1px;
	border:0;
}

#folioMoveFancyCom {
	width:66%;
	margin: 1% 15% 0 17%;
}

#folioMoveFancyCom #folioCountForm{
	font-size:10px;
	display:inline;
	color:#6d5c4d;
	margin:1% 0 0 0;
}

#folioMoveFancyCom #moveToFolioForm {
	margin-left:52%;
	width:150px;
	display:inline;
	color:#6d5c4d;
}

#transcribeRefresh {
	width:66%;
	margin: 3% 15% 0 17%;
}

#contentFancyCom #refreshVolumeExplorer {
	margin: 0 0 0 61%;
	position:absolute;
	display:inline;
}

#transcribeButton {
	position:absolute;
	display:inline;
}


/* This Volume has not been digitized yet */

#notDigitizedYetDiv {
	margin-top:10px;
	border:1px solid #e6d0c6; 	
	width:450px;
	height:300px;
	z-index:1;
}

#notDigitizedYetDiv p{
	text-align:center;
	width:450px;
	height:70px;
	margin-top:140px;
	color:#900;
	position:absolute;
}





/* DOCUMENTS */

/* EditDetailsDocument */

#DocumentImageDiv {
	float:right;
	margin-top:30px;
	padding-left:30px;
}

#DocumentImageDiv a,  #DocumentImageDiv p{
	text-align:right;
	font-size:10px;
}

#volNumDocLabel {
	margin-left:103px;
}

#docIdLabel {
	margin-left:33px;
}

#folioNumLabel {
	margin-left:10px;
}


#DocYearLabel {
	margin-left:48px;
}

#undatedLabel {
	margin-left:70px;
}

#discontdLabel {
	margin-left:111px;
}

#insertNumLabel {
	margin-left:7px;
}

#dateApproxLabel {
	margin-left:7px;
}


/* EditCorrespondentsDocument */


#toLabel {
	margin-left:23px;
}

#fromSLabel  {
	margin-left:19px;
}

#senderDocsLabel {
	margin-left:11px;
}

#fromRLabel {
	margin-left:22px;
}


#unsureLabel, #portraitLabel {
	margin-left:20px;
}

#unsureRecipientLabel, #unsureFromRecipientLabel, #unsureSenderLabel, #unsureFromSenderLabel {
	margin-left:20px;
}





/* PERSON */

#lineSeparator {
	margin:5px 0 5px 0;
	padding:0;
	width:450px;
	color:#e6d0c6;
	background-color:#e6d0c6;
	height:1px;
	border:0;
	z-index:2;
}

/* CreatePerson */

#activeEnd {
	width:275px;
}


/* EditDetailsPerson */

#prefixPreIdLabel {
	margin-left:17px;
}

#PreIdLabel {
	margin-left:30px;
}

#lastnameLabel {
	margin-left:11px;
}

#prefixPostIdLabel {
	margin-left:14px;
}

#PostIdLabel {
	margin-left:25px;
}

#genderLabel {
	margin-left:48px;
}

#yearBirthLabel {
	margin-left:24px;
}

#approxBirthLabel {
	margin-left:50px;
}

#placeBirthLabel {
	margin-left:56px;
}

#activeStartLabel {
	margin-left:24px;
}

#yearDeathLabel {
	margin-left:22px;
}


/* EditNamesPerson */

#nameLabel {
	margin-left:33px;
}

#givenLabel {
	margin-left:7px;
}

form img{
	margin: 0 10px 0 5px;
	height: 13px;
	width: 13px;
	vertical-align:middle;
}

#AddNewValue {
	margin-left:250px;
}

a#editValue {
	font-size:10px;
	
}

a#AddNamesPerson, a#AddChildPerson, a#AddTopicDocument, a#AddExtLinkTgnPlace, a#AddExtLinkMapPlace, a#AddExtLinkMapSitePlace, a#AddNameMapSitePlace, a#AddNameMapPlace, a#AddNameTgnPlace{
	background-color: #e6d0c6;
	padding:1px 5px 1px 5px;
	border:none;
	display:inline;
	color: #6d5c4d;
	font-size:10px;
	text-decoration:none;
	margin-left:260px;
}

a#AddSpousePerson, a#AddPersonCorrespondentsDocument {
	background-color: #e6d0c6;
	padding:1px 5px 1px 5px;
	border:none;
	display:inline;
	color: #6d5c4d;
	font-size:10px;
	text-decoration:none;
	margin-left:255px;
}

a#AddTitlesOccupationsPerson{
	background-color: #e6d0c6;
	padding:1px 5px 1px 5px;
	border:none;
	display:inline;
	color: #6d5c4d;
	font-size:10px;
	text-decoration:none;
	margin-left:200px;
}


/* EditTitleOccupationsPerson */

#preferrefRoleLabel {
	margin-left:11px;
}

#yearStartLabel {
	margin-left:25px;
}
	
#monthStartLabel {
	margin-left:22px;
}

#dayStartLabel {
	margin-left:45px;
}

#yearEndLabel {
	margin-left:30px;
}

#monthEndLabel {
	margin-left:22px;
}

#dayEndLabel {
	margin-left:45px;
}


/* EditTitleOccupationsPerson */

#fatherLabel {
	margin-left:21px;
}

#motherLabel {
	margin-left:20px;
}

#nameSpouseLabel {
	margin-left:26px;
}

#startYearSpouseLabel {
	margin-left:6px;
}

#endYearSpouseLabel {
	margin-left:20px;
}

#reasonLabel {
	margin-left:25px;
}

#nameChildsLabel {
	margin-left:27px;
}

#bornLabel {
	margin-left:33px;
}

#diedLabel {
	margin-left:45px;
}

#ageDeathLabel {
	margin-left:45px;
}

/* Relationships */
/* Parents */

a#linkSearch {
	font-size:11px;
	text-decoration:none;
	color:#006;
	margin: 0 0 0 10px;
	display:inline;
}

#info{
	opacity:0.6;
	margin: 0 0 0 20px;
	display:inline;
	font-size:10px;
	float:right;
}

/* PLACE */

/* EdtitDetailsTgn, Map and MapSite */

#placeIdDiv {
	margin:5px 5px 5px 0px;
}

#tgnTermIDLabel {
	margin-left:9px;
}

#nameNoAccentsLabel {
	margin-left:70px;
}

#nameWithAccentsLabel {
	margin-left:25px;
}

#placeParentLabel {
	margin-left:62px;
}


/* EdtitNameTgn, Map and MapSite */


#namePlaceLabel {
	margin-left:34px;
}

#nameTypeLabel {
	margin-left:10px;
}

#latitudeNameLabel {
	margin-left:24px;
}

#longitudeNameLabel {
	margin-left:47px;
}

#longitudeGeoLabel {
	margin-left:71px;
}


/* MyProfile */

#userProfile{
	float:left;
	padding-left:25px;
}

.profile {
	margin-left:150px;
	list-style:none;
	line-height:18px;
	text-align:justify;
}

#imgProfile {
	float:left;
	margin-top:10px;
	margin-left:20px;
}

#helpProfile {
	margin-left:650px;
}

#helpProfile a{	
	font-size:11px;
	line-height:18px;
	text-decoration:none;
	color:#6F6B69;
}

#helpProfile a:hover{
	text-decoration:underline;
}

#coursesProfile {
	margin: 50px 0 0 650px;
}

#EditTitleProfileDiv, #EditGroupProfileDiv, #EditOrgProfileDiv, #EditLocationProfileDiv, #EditInterestsProfileDiv, #EditResumeProfileDiv {
	width:300px;
	margin-left:150px;
	margin-top:5px;
}

