/* 

Manuscript Viewer css
html version
*/

#EditExtractDocumentDiv #EditExtractDocumentForm textarea, #EditSynopsisDocumentDiv #EditSynopsisDocumentForm textarea,  #EditPersonalNotesForm textarea, #EditPersonalNotesForm #personalNotes{
	border: 1px solid #e6d0c6;
	background-color: #fbf7f4;
	font-family:Georgia, "Times New Roman", Times, serif;
	border: 1px solid #DCC0BA;
	-moz-border-radius: 4px;
	border-radius: 4px;	
	font-size:11px;
	color: #000000;
	width: 98%;
	height:90%;
}

#EditSynopsisDocumentDiv, #EditExtractDocumentDiv, #EditPersonalNotesDiv, #EditExtractDocumentForm, #EditSynopsisDocumentForm, #DialogPersonalNotesDiv, #EditPersonalNotesForm {
	position:relative;
	margin:0 auto 0 auto;
	height:97%;
	font-size:11px;
}

/* ---------- Buttons --------- */
/*
/* Previous / Next */

#EditPersonalNotesDiv #prevNextButtons {
	width: 80px;
	margin-top:8px;
	position:absolute;
}

#EditPersonalNotesDiv #prevNextButtons.transcribe {
	margin: 8px 0 0 215px;
}

#EditPersonalNotesDiv #prevButton img, #EditPersonalNotesDiv #nextButton img, #EditPersonalNotesDiv #personalNotesDiv img, #EditPersonalNotesDiv #exitDiv img{
	border:none;
}

#EditPersonalNotesDiv #prevButton a {
	float:left;
	background:url(/DocSources/images/mview/button_lastRecord_pageTurner.png) no-repeat;
	padding:4px 0 0 4px;
	text-align:center;
	text-decoration:none;
	color:#6F6B69;
	width:35px;
	height:22px;
	font-size:11px;
}

#EditPersonalNotesDiv #nextButton a {
	float:right;
	background:url(/DocSources/images/mview/button_nextRecord_pageTurner.png) no-repeat;
	width:35px;
	height:22px;
	font-size:11px;
	padding:4px 0 0 0;
	text-align:center;
	text-decoration:none;
	color:#6F6B69;
}

#EditPersonalNotesDiv #prevNextButtons #prevButton a:hover, #EditPersonalNotesDiv #prevNextButtons #nextButton a:hover, #cleanNotes:hover, #EditPersonalNotesDiv #rubricarioMoveTo #goR:hover, #EditPersonalNotesDiv #folioMoveTo #go:hover, #EditExtractDocumentDiv #saveExtract:hover, #EditPersonalNotesDiv #personalNotesDiv a:hover, #EditPersonalNotesDiv #exitDiv a:hover, #EditExtractDocumentDiv #saveAndEditSynopsis:hover, #EditSynopsisDocumentDiv #saveSynopsis:hover, #EditSynopsisDocumentDiv #saveSynopsisExit:hover, #DialogPersonalNotesDiv #saveNotes:hover{
	opacity:0.5; /* FireFox, Chrome, Safari */
	-moz-opacity: 0.5;
	filter:alpha(opacity=50); /* IE */ !important
}

a.transcribe {
	background:url(/DocSources/images/mview/button_large.png) no-repeat;
	padding:4px 0 0 0;
	text-align:center;
	margin: 10px 0 0 0;
	float:left;
	width:182px;
	height:22px;
	cursor:auto;
	text-decoration: none;
	color: #6F6B69;
	position:absolute;
}

.transcribeMessage {
	color:#F00;
	position:absolute;
	margin-top: 5px;
	text-decoration:none;
	width:182px;
	height:36px;
	text-align: center;
	padding-top: 4px;
}


/* ---- Show Allready Transcribed Document ----- */

#showAlreadyTranscribed.transcribe, #extractTranscribe.transcribe { /* Volume Summary button on Page Turner Panel */
	margin: 53px 0 0 0px;
}


/* ---- Volume Summary ----- */

#volumeSummary { /* Volume Summary button on Page Turner Panel */
	margin:7px 0 0 37px;
	position:absolute;
	background:url(/DocSources/images/mview/button_volumeSummary.png) no-repeat;
	padding:4px 0 0 0;
	text-align:center;
	text-decoration:none;
	color:#6F6B69;
	width:35px;
	height:35px;
	font-size:11px;
}

#volumeSummary.transcribe { /* Volume Summary button on Page Turner Pannel */
	margin: 3px 0 0 329px;
}

#volumeSummary:hover { /* Volume Summary button on Rollover */
	opacity:0.5;
}

/* Volume Summary dialog Window */

#volumeSummaryWindow {
	max-height:500px;
	width:500px;
}

#volumeSummaryWindow .row {
	display: table-row;
}

#volumeSummaryWindow .item {
	display: table-cell;
	width:160px;
	text-align:left;
	color:#6d5c4d;
	padding:3px 0 3px 0;
}

#volumeSummaryWindow .value {
	display: table-cell;
	width:340px;
	text-align:left;
	color:#8B7563;
	padding:3px 0 3px 5px;
	text-align:justify;
}

#volumeSummaryWindow .valueMissingFolios {
	color:#900;
	display: table-cell;
	width:350px;
	text-align:left;
	padding:3px 0 3px 5px;
	text-align:justify;
}

#volumeSummaryWindow hr { /* Horizontal Line used to separate areas inside the Edit Forms */
	margin:10px 0 10px 0;
	padding:0;
	width:480px;
	color:#e6d0c6;
	background-color:#e6d0c6;
	height:1px;
	border:0;
}

h3{ /* PERSON NAME (in PERSON DETAILS) and VOLUME NAME (in VOLUME DETAILS) */
	font-size:14px;
	font-style:italic;
	color:#C18D72;
	margin:3px 0 15px 0;
}

h5{ /* DOCUMENT DETAILS Title, PERSON DETAILS Title */
	font-size:11px;
	color:#6d5c4d;
	margin:3px 0 3px 0;
}

/* ---- Index of Names ----- */

#indexNames { /* Index of Names button on Page Turner Panel */
	margin:7px 0 0 37px;
	position:absolute;
	background:url(/DocSources/images/mview/button_indexOfNames.png) no-repeat;
	padding:4px 0 0 0;
	text-align:center;
	text-decoration:none;
	color:#6F6B69;
	width:35px;
	height:35px;
	font-size:11px;
}

#indexNames.transcribe { /* Index of Names button on Page Turner Pannel */
	margin: 43px 0 0 328px;
}

#indexNames:hover { /* Index of Names button on Rollover */
	opacity:0.5;
}


/* ---------------- */
/*
/* -- Rubricario -- */

#EditPersonalNotesDiv #rubricarioMoveTo { /* Contains "Rubricario Count" and "Move to rubricario" */
	width:170px;
	position:absolute;
	margin:13px 0 0 250px;
}

#EditPersonalNotesDiv #rubricarioMoveTo.transcribe { /* Contains "Rubricario Count" and "Move to rubricario" */
	margin: 13px 0 0 447px;
}

#EditPersonalNotesDiv #rubricarioMoveTo #moveToRubricarioForm { /* "Move to Rubricario" FORM */
	width:155px;
	display:inline;
	color:#6d5c4d;
	float:right;
	margin:0;
}

#EditPersonalNotesDiv #rubricarioMoveTo .rubricarioLabel { /* "Move to rubricario" <label> class  */
	font-size:10px;
	margin:0 0 0 -50px;
	position:absolute;
	color:#6d5c4d;
}

#EditPersonalNotesDiv #rubricarioMoveTo .input_4cRucricario { /* "Move to rubricario" <input> ID  */
	margin:-4px 0 0 100px;
	position:absolute;
	width: 30px;
	font-size:11px;
	font-family:Georgia, "Times New Roman", Times, serif;
	border: 1px solid #DCC0BA;
	-moz-border-radius: 4px;
	border-radius: 4px;	
	background-color: #fbf7f4;
	color: #6d5c4d;
	padding:3px;
}

#EditPersonalNotesDiv #rubricarioMoveTo #goR { /* "Move to rubricario" <input> GO button ID  */
	margin:-5px 0 0 140px;
	width:22px;
	height:22px;
	background-image:url(/DocSources/images/mview/button_mini.png);
	font-size:11px;
	padding:0 0 0 2px;
	background-repeat:no-repeat;
	background-color:transparent;
	border:none;
	cursor:pointer;
	color:#6F6B69;
}

/* ---------------- */
/*
/* ---- Folio ----- */


#EditPersonalNotesDiv #folioMoveTo { /* Contains "Folio Count" and "Move to folio" */
	width:160px;
	position:absolute;
	margin:50px 0 0 240px;
}

#EditPersonalNotesDiv #folioMoveTo.transcribe { /* Contains "Folio Count" and "Move to folio" */
	margin: 58px 0 0 165px;
}

#EditPersonalNotesDiv #folioMoveTo #moveToFolioForm { /* Move to folio FORM */
	width:150px;
	display:inline;
	color:#6d5c4d;
	float:right;
}

#EditPersonalNotesDiv #folioMoveTo .folioLabel { /* "Move to folio" <label> ID  */
	font-size:11px;
	margin:0 0 0 33px;
	position:absolute;
	color:#6d5c4d;
}

#EditPersonalNotesDiv #folioMoveTo .input_4cFolio { /* "Move to folio" <input> ID  */
	margin: -4px 0 0 65px;
	position:absolute;
	width: 30px;
	font-size:11px;
	font-family:Georgia, "Times New Roman", Times, serif;
	border: 1px solid #DCC0BA;
	-moz-border-radius: 4px;
	border-radius: 4px;	
	background-color: #fbf7f4;
	color: #6d5c4d;
	padding:3px;
}


#EditPersonalNotesDiv #folioMoveTo #go { /* "Move to folio" <input> GO button ID  */
	margin: -5px 0 0 110px;
	width:22px;
	height:22px;
	background-image:url(/DocSources/images/mview/button_mini.png);
	font-size:11px;
	padding:0 0 0 2px;
	background-repeat:no-repeat;
	background-color:transparent;
	border:none;
	cursor:pointer;
	color:#6F6B69;
}


/* ---------------- */
/*
/* ---- Personal Notes ----- */

#EditPersonalNotesDiv #personalNotesDiv a{
	margin:8px 0 0 455px;
	position:absolute;
	background:url(/DocSources/images/mview/button_personalNotes.png) no-repeat;
	padding:4px 0 0 0;
	text-align:center;
	text-decoration:none;
	color:#6F6B69;
	width:27px;
	height:32px;
	font-size:11px;
}

#EditPersonalNotesDiv #personalNotesDiv a.transcribe{
	margin: 7px 0 0 403px;
}


/* ---------------- */
/*
/* ---- Exit ----- */

#exitDiv a{
	margin:47px 0 0 455px;
	position:absolute;
	background:url(/DocSources/images/mview/button_small.png) no-repeat;
	padding:4px 0 0 0;
	text-align:center;
	text-decoration:none;
	color:#6F6B69;
	width:52px;
	height:22px;
	font-size:11px;
	text-transform:capitalize;
}

#EditPersonalNotesDiv #exitDiv a.transcribe{
	margin: 53px 0 0 390px;
}

/* ---------------- */
/*
/* ---- Lines ----- */

#EditPersonalNotesDiv #line {
	width:1px;
	height:70px;
	background-color:#E6D0C6;
	margin:6px 0 0 200px;
	position:absolute;
}

#EditPersonalNotesDiv #line.transcribe {
	margin: 6px 0 0 194px;
}

#EditPersonalNotesDiv #line2 {
	width:1px;
	height:70px;
	background-color:#E6D0C6;
	margin:6px 0 0 441px;
	position:absolute;
}

#EditPersonalNotesDiv #line2.transcribe {
	margin: 6px 0 0 375px;
}

/* ---------------- */
/*
/* ---- Edit Extract ----- */

#EditExtractDocumentDiv #saveExtract {
	float:left;
	display:inline;
	background:url(/DocSources/images/mview/button_medium.png) no-repeat;
	text-align:center;
	text-decoration:none;
	color:#6F6B69;
	width:122px;
	height:22px;
	font-size:11px;
	border:none;
}

#EditExtractDocumentDiv #saveAndEditSynopsis {
	float:right;	
	display:inline;
	background:url(/DocSources/images/mview/button_large.png) no-repeat;
	text-align:center;
	text-decoration:none;
	color:#6F6B69;
	width:182px;
	height:22px;
	font-size:11px;
	border:none;
}

/* ---------------- */
/*
/* ---- Edit Synopsis ----- */

#EditSynopsisDocumentDiv #saveSynopsis {
	float:left;
	display:inline;
	background:url(/DocSources/images/mview/button_medium.png) no-repeat;
	text-align:center;
	text-decoration:none;
	color:#6F6B69;
	width:122px;
	height:22px;
	font-size:11px;
	border:none;
}

#EditSynopsisDocumentDiv #saveSynopsisExit {
	float:right;	
	display:inline;
	background:url(/DocSources/images/mview/button_large.png) no-repeat;
	text-align:center;
	text-decoration:none;
	color:#6F6B69;
	width:182px;
	height:22px;
	font-size:11px;
	border:none;
}

/* ---------------- */
/*
/* ---- Personal Notes ----- */

#DialogPersonalNotesDiv #saveNotes {
	float:left;
	display:inline;
	background:url(/DocSources/images/mview/button_medium.png) no-repeat;
	padding:2px 0 0 0;
	text-align:center;
	text-decoration:none;
	color:#6F6B69;
	width:122px;
	height:22px;
	font-size:11px;
	border:none;
	cursor:pointer;
}

#DialogPersonalNotesDiv #cleanNotes {
	float:right;	
	display:inline;
	background:url(/DocSources/images/mview/button_medium.png) no-repeat;
	padding: 4px 0 0 0;
	text-align:center;
	text-decoration:none;
	color:#6F6B69;
	width:122px;
	height:22px;
	font-size:11px;
	border:none;
	cursor:pointer;
}




/* Modified elements from the original jquery-ui-1.8.9.custos.css */

/* Component containers
----------------------------------*/

.ui-widget { 
	font-family:Georgia, "Times New Roman", Times, serif; 
	font-size:11px;
	-moz-box-shadow: 1px 1px 10px #666;
	-webkit-box-shadow: 1px 1px 10px #666;
	box-shadow: 1px 1px 10px #666; 
}

.ui-widget .ui-widget { font-size: 11px; }

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family:Georgia, "Times New Roman", Times, serif; font-size: 11px; }

.ui-button-text {
	background-image:url(/DocSources/images/mview/images/saveExtract.png);
}

.ui-widget-content { 
	border: 1px solid #e6d0c6; 
	background: #f3e7e2 ; 
	color: #000000; 
}


/* Interaction states
----------------------------------*/

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #f3e7e2; background: #E6D0C6 url(/DocSources/images/mview/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #6d5c4d; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #6d5c4d; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #f3e7e2; background: #f3e7e2 url(/DocSources/images/mview/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #c77405; }


/* jQuery UI Dialog 1.8.9 */

.ui-dialog .ui-dialog-titlebar { padding: .4em 1em; position: relative; background-color: #E9D5D1; border: none;}
.ui-dialog .ui-dialog-title { margin: 5px 0 5px 0; color:#6d5c4d; } 
.ui-dialog .ui-dialog-content { position: relative; border: 0; padding: .5em 1em; background-color: #f3e7e2; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { 
	text-align: left; 
	border-width: 1px 0 0 0; 
	margin: .5em 0 0 0; 
	padding: .3em 1em .5em .4em;
	
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
.ui-dialog .ui-dialog-buttonpane button { 
	margin: .5em .4em .5em 0; 
	cursor: pointer; 
	background-color: #e6d0c6;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none; 
}
