/*
 * The Medici Archive Project
 * http://documents.medici.org/
 * 
 * Copyright (c) 2011 MAP
 *
 *
 * This style sheet contains all classes, ids and tags for the Incremental Transcription Forum
 */

/* ------------------------------------------------- GENERAL TAG --------------------------------------------- */


/* ------------------------------------------------- CONTENT ------------------------------------------------- */

.avatarContainer {
	width: 5%;
	min-width: 55px;
	float: left;
}

#csSection {
	position: relative;
	height: 30px;
	width: 100%;
}

#csSection a#goCourseResources {
	float: right;
}

#csSection a#unsubscribe {
	float: left;
}

#csSection h6 {
	width: 98%;
	position: absolute;
	z-index: -1; /* to avoid overlaying buttons */
}

#editPostContainer {
	width: 100%;
	min-width: 560px;
	height: 10%;
	min-height: 55px;
	overflow: auto;
}

#postsContainer {
	width: 100%;
	min-width: 560px;
	height: 83%;
	min-height: 300px;
	overflow: auto;
}

#postsContainer .postTable h2 {
	max-width: 86%;
	margin-top: 10px;
}

.postTable img.avatar {
	margin-left: 5px;
	margin-top: 5px;
	float: left;
}

.postTable .post {
	border-top: 1px solid #DCC0BA;
	clear: both;
}

.postTable .post .transcriptionContainer {
	background: rgba(250, 250, 250, 0.5);
	font-size: 0.95em;
	margin: 10px;
	overflow: auto;
	display: block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #DCC0BA;
}

.postTable .post .transcriptionContainer .transcritpionCaption {
	display: block;
	font-style: normal;
	font-weight: bold;
	padding: 5px;
	background-color: #DCC0BA;
	color: #FFF;
	font-style: italic;
	font-size: 1.1em;
}

.postTable .post .transcriptionContainer .transcription {
	margin: 10px;
	max-height: 250px;
	overflow: auto;
}

.postTable .postProfile {
	margin: 0;
}

.postTable .postProfile ul li {
	float: left;
}

.postTableTeacher {
	background-color: rgba(220, 192, 154, 0.3);
}

.titleContainer {
	width: 37%;
	float: left;
}

#topicTitleSection {
	width: 100%;
	position: relative;
}

#topicTitleSection h2 {
	position: absolute;
	max-width: 500px;
	margin-left: 20px;
	margin-top: 0px;
	z-index: -1; /* to avoid overlaying buttons */
}

#topicTitleSection #changeTopicTitle {
	padding-left: 5px;
	float: left;
}

#topicTitleSection #goCourseResources {
	float: right;
}

#upperSeparator {
	clear: both;
	margin-bottom: 15px;
}

.volumeContainer {
	color: #6F6B69;
	display: inline;
	margin-top: 40px;
	float: left;
	width: 37%;
}

.volumeContainer:after {
	content: "}";
}

.volumeContainer:before {
	content: "{";
}

.volumeContainer .volumeFragment, .volumeContainer .insertFragment, .volumeContainer .folioFragment {
	color: #CC8585;
	font-weight: bold;
}

/* ------------------------------------------------- Topic Icons ------------------------------------------------- */

.topicIcons {
	width: 15%;
	margin-top: 15px;
	text-align: right;
	float: left;
}

/* ------------------------------------------------- Edit post container ----------------------------------------- */

#editPostContainer #addNewPost, #editPostContainer #askAQuestion {
	font-weight: bold;
}

#editPostContainer a {
	margin-left: 5px;
}

#editPostContainer a#button_refresh span {
	background-image: url(${contextPath}/images/forum/icon_refresh.png);
	height: 17px;
	width: 15px;
	background-repeat: no-repeat;
	padding-left: 25px;
}

#postTextArea #htmlbox {
	width:95%;
	height:120px;
	max-width:1000px;
}

#textboxLabel, #htmlboxLabel {
	margin-left: 20px;
	font-weight: bold;
	color: #6F0B09;
	display: block;
}

#transcriptionSection #showCurrentTranscription {
	float: right;
	margin-right: 30px;
}

#transcriptionSection #textbox {
	width:95%;
	height:150px;
	max-width:1000px;
	margin: 0px 10px 20px;
}

/* ------------------------------------------------- Transcription Dialog ---------------------------------------- */

#transcriptionDialog {
	overflow-y: auto;
	margin: 5px;
	background-color: white;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #DCC0BA;
}

/* ------------------------------------------------- Your Personal Notes ----------------------------------------- */

#loadingDiv {
	background-image:url(${contextPath}/images/1024/img_loadingDiv.gif);
	background-size: 100%, 100%;
	z-index:10000;
    opacity:0.4;
	-moz-opacity: 0.4;
	filter:alpha(opacity=40); /* IE */
	border-radius:4px;
	-moz-border-radius: 4px;
	top: 0;
	left: 0;
	position: absolute;
}

#personalNotesForm {
	width: 100%;
	height: 90%;
	overflow: auto;
	margin-top: 15px;
}

#personalNotesForm .personalNotes {
	width: 95%;
	max-width: 95%;
	min-width: 300px;
	height: 85%;
	max-height: 85%;
	min-height: 200px;
}

#personalNotesForm #personalNotesCommands {
	width: 100%;
	text-align: center;
}

#personalNotesForm #personalNotesCommands #buttons {
	width: 100%;
	display: block;
	margin-top: 10px;
}

#personalNotesForm #personalNotesCommands #buttons a {
	margin-left: 5px;
	display: inline-block;
}

#personalNotesForm #personalNotesCommands #buttons .buttonDisabled {
	color: #BBBBBB;
}

#personalNotesForm #personalNotesCommands .error {
	color: red;
}

#personalNotesTitleSection .personalNotesTitle #changedSign {
	color: #BB0000;
}

#personalNotesTitleSection .personalNotesLastUpdate {
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	margin-left: 30px;
}

#personalNotesTitleSection .personalNotesLastUpdate .date {
	color: #cc8585;
	font-style: italic;
}

#personalNotesTitleSection .personalNotesTitle {
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	margin-left: 10px;
}
