/* Document Forum Action modalbox */

.choiceContentFragment {
	text-align: center;
	display: block;
}

#chooseExistentCourseFragment .action {
	font-style: italic;
	color: #946262;
}

#chooseExistentCourseFragment .fixedTable {
	width: 100%;
	max-height: 100px;
	min-height: 40px;
}

#chooseExistentCourseFragment .fixedTable table {
	border-width: 0;
	padding: 0;
	border-collapse: collapse;
}

#chooseExistentCourseFragment .head {
	height: 20px;
}

#chooseExistentCourseFragment .head table {
	width: 100%;
}

#chooseExistentCourseFragment .body {
	max-height: 80px;
	overflow-y: auto;
}

#chooseExistentCourseFragment .body table {
	width: 100%;
	padding-bottom: 5px;
}

#chooseExistentCourseFragment .firstColumn, #chooseExistentCourseFragment .secondColumn {
	width: 40%;
}

#chooseExistentCourseFragment td:first-child {
	
}

#chooseTitleContent #title{
	width: 400px;
}

#chooseTitleContent #error{
	color: red;
}

#showChoiceContent h1 {
	font-size: 12px;
    font-weight: normal;
    text-align: center;
}