/*
 * The Medici Archive Project
 * http://documents.medici.org/
 * 
 * Copyright (c) 2011 MAP
 *
 *
 * This style sheet common classes, ids and tags for the Teaching Module 
 */
 
/* ------------------------------------------------- GENERAL TAG --------------------------------------------- */

body, a, input, select {
	font-size: 12px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	color: #6F6B69;
}

a {
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	color: #6F6B69;
}

a:hover {
	text-decoration: underline;
	color: #CC0033;
}

a.link {  /* "Last post by" user name */
	text-decoration: underline;
	color: #B7958F;
	display: inline;
	cursor: pointer;
	font-size: 12px;
	margin: 0;
}

h2, h2 a {
	font-size: 16px;
	color: #6D5C4D;
	width: 620px;
	display: inline-block;
}

hr {
	width: 100%;
	color: #DCC0BA;
	background-color: #DCC0BA;
	border: 0px;
}

input, select, textarea {
	font-size: 12px;
	font-family: Georgia, "Times New Roman", Times, serif;
	border: 1px solid #DCC0BA;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
	background-color: #fbf7f4;
	color: #6d5c4d;
	padding: 3px;
	margin: 0 3px 5px 3px;
}

/* ------------------------------------------------- CONTENT ------------------------------------------------- */

a.buttonMedium:hover, a.buttonLarge:hover, a.buttonSmall:hover {
    text-decoration: none;
    color: #6F6B69;
}
 
.buttonMedium, .button_medium {
    width: 122px;
    height: 22px;
    display: inline-block;
    background-image: url(${contextPath}/images/forum/button_medium.png);
    background-repeat: no-repeat;
    padding: 4px 0 0 0;
    text-align: center;
    border: none;
    background-color: transparent;
}

.buttonLarge, .button_large {
	width: 182px;
	height: 22px;
	display: inline-block;
	background-image: url(${contextPath}/images/1024/button_large.png);
	background-repeat: no-repeat;
	padding: 4px 0 0 0;
	text-align: center;
	border: none;
	background-color: transparent;
}
 
.buttonSmall { /* Button medium class */
    width: 53px;
    height: 22px;
    display: inline-block;
    background-image: url(${contextPath}/images/forum/button_small.png);
    background-repeat: no-repeat;
    padding-top: 3px;
    text-align: center;
    border: none;
    background-color: transparent;
    margin: 0;
}

.post a {  /* Link inside post */
	text-decoration: underline;
	color: #B7958F;
	display: inline;
	cursor: pointer;
	font-size: 12px;
	margin: 0;
}

.post a.linkUpdater{ /* Updater link inside post */
	font-size: 11px;
	font-style: italic;
}

#postsContainer {
    -moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3); 
    box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
    padding: 10px;
    border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	width: 98%!important;
}

#postsContainer h2 {
	max-width: 100%;
}

#postsContainer .postTable h2 {
	margin-left: 10px;
	margin-bottom: 0;
}

.postTable {
	border: 1px solid #DCC0BA;
	background-color: rgba(220,192,186,0.2);
	width: 99%;
	height: auto;
	border-radius:4px;
	margin-bottom: 20px;
	position: relative;
	min-height: 130px;
	overflow: auto;
	min-width: 550px;
}

.postTable img {
	border-radius: 2px;
	margin: 0 5px 0 5px;
	box-shadow: 0 0 6px #B7958F;
}

.postTable img.avatar {
	border: 1px solid #B7958F;
	height: 55px;
}

.postTable p {
	margin: 10px;
	text-align: justify;
	line-height: 17px;
}

.postTable p.by {
	margin-bottom:25px;
}

.postTable span {
}

.postTable span.date {
	display: inline;
	margin-left: 0px;
	font-size: 11px;
}

.postTable .post {
	min-height:150px;
	min-width: 350px;
}

.postTable .postProfile {
}

.postTable .postProfile ul {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 20px;
}

.postTable .postProfile ul li {
	font-size: 11px;
	color: #999;
}

.postTable .postProfile ul li span {
	margin-left: 0px;
}

#roundRobinPosts.ui-layout-pane {
	overflow: hidden;
}

#subject {
	width: 50%;
	min-width: 300px;
}

#submit {
	border: none;
	background-color: transparent;
	margin: 0 0 0 800px;
	font-weight: bold;
	right: 0;
}

/* ------------------------------------------------- Pagination ------------------------------------------------- */

#forumPaginate_upper, #forumPaginate_lower {
    text-align: right;
    font-size: 10px;
    height: 30px;
    margin-top: 5px;
    width: 98%;
    min-width: 300px;
}

#forumPaginate_upper a, #forumPaginate_lower a {
    font-size: 10px;
}

#forumPaginate_upper a:hover, #forumPaginate_lower a:hover {
    text-decoration:none;
    color:#654C47;
}

.firstPaginateButton, .previousPaginateButton, .paginateActive, .paginateButton, .nextPaginateButton, .lastPaginateButton {
    border: 1px solid #DCC0BA;
	border-radius:5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 2px 5px;
    cursor: pointer;
    *cursor: hand;
    background-color: #EAD9D6;
}

.firstPaginateButton, .previousPaginateButton, .paginateActive, .paginateButton, .nextPaginateButton {
    margin: 0 3px;
}

.lastPaginateButton {
    margin: 0;
}

.paginateActive, .firstPaginateButton:hover, .previousPaginateButton:hover, .paginateActive:hover, .paginateButton:hover, .nextPaginateButton:hover, .lastPaginateButton:hover {
    background-color: #DCC0BA;
}

/* ------------------------------------------------- Topic Icons ------------------------------------------------- */

.topicIcons .editPost {
	background-image:url(${contextPath}/images/forum/button_edit.png);
	width:20px;
	height:20px;
	margin: 5px 0;
	display: inline-block;
}

.topicIcons .deletePost {
	background-image:url(${contextPath}/images/forum/button_delete.png);
	width:20px;
	height:20px;
	display: inline-block;
	margin: 5px 0 5px 5px;
}

.topicIcons .reportPost {
	background-image:url(${contextPath}/images/forum/button_report.png);
	width:22px;
	height:20px;
	display: inline-block;
	margin: 5px 0 5px 5px;
}

.topicIcons .informationPost {
	background-image:url(${contextPath}/images/forum/button_info.png);
	width:20px;
	height:20px;
	display: inline-block;
	margin: 5px 0 5px 5px;
}

.topicIcons .quotePost {
	background-image:url(${contextPath}/images/forum/button_quote.png);
	width:20px;
	height:20px;
	display: inline-block;
	margin: 5px 0 5px 5px;
}

/* ------------------------------------------------- Edit post container ----------------------------------------- */

#addNewPost {
	margin-left: 5px;
}

#editPostContainer {
	border: 1px solid #DCC0BA;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	padding-top: 10px;
	background-color: rgba(250,250,250,0.4);
	max-width: 990px;
	width: 99%!important;
}

#editPostContainer .postTable h2 {
	margin-left: 10px;
	margin-bottom: 0;
}

#editPostContainer #EditCourseTopicPost .contentFragment {
	margin-left: 20px;
	font-weight: bold;
}

#editPostContainer #EditCourseTopicPost .fragmentDetail {
	min-width: 25px;
	display: inline-block;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	background-color: #FBF7F4;
	border: 1px solid #DCC0BA;
	border-radius: 4px;
	color: #A89C91;
	font: -moz-field;
	font: -webkit-small-control;
	font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 12px;
	margin: 0 3px 5px;
	padding: 3px;
}

#editPostContainer #EditCourseTopicPost #refreshLocation {
	margin-left: 50px;
}

#editPostContainer #EditCourseTopicPost #refreshLocation span {
	background-image: url("${contextPath}/images/forum/icon_refresh.png");
    background-repeat: no-repeat;
    height: 17px;
    padding-left: 25px;
    width: 15px;
}

#editPostContainer #editPostFormCommands {
	min-width: 500px;
}

#editPostContainer #postTablePreview {
	margin-top: 45px;
	margin-left: 7px;
}

#editPostContainer #preview, #editPostContainer #discard {
	margin-left: 10px;
	margin-right: 10px;
}

#editPostContainer #submit {
	margin: 0 50px 0 0;
	float: right;
}

#subjectLabel, .folioDetailsTitle {
	margin-left: 20px;
	font-weight: bold;
	color: #6F0B09;
}