.menumain {
	z-index:2;
	padding-left:15px;
}

.menumain ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*Top level list items*/
.menumain ul li{
	position: relative;
	display: inline;
	float: left;
	width:100px;
}

/*Top level menu link items style*/
.menumain ul li a{
	display: block;
	padding: 0;
	color: #6F6B69;
	text-decoration: none;
	font-size:11px;
}


#entryMenu{
	background-image:url(/DocSources/images/1024/button_entrymenu.png);
	background-repeat:no-repeat;
	display:block;
	width:99px;
	height:63px;
	padding: 0;
}

#entryMenu:hover{
	background-image:url(/DocSources/images/1024/button_entrymenuRollover.png);
}

#vetMenu{
	background-image:url(/DocSources/images/1024/button_vetmenu.png);
	background-repeat:no-repeat;
	display:block;
	width:99px;
	height:63px;
	padding: 0;
}

#vetMenu:hover{
	background-image:url(/DocSources/images/1024/button_vetmenuRollover.png);
}

#advsearchMenu{
	background-image:url(/DocSources/images/1024/button_advsearch.png);
	background-repeat:no-repeat;
	display:block;
	width:99px;
	height:63px;
	padding: 0;
}

#advsearchMenu:hover{
	background-image:url(/DocSources/images/1024/button_advsearchRollover.png);
}

#chronologyMenu{
	background-image:url(/DocSources/images/1024/button_chronology.png);
	background-repeat:no-repeat;
	display:block;
	width:99px;
	height:63px;
	padding: 0;
}

#chronologyMenu:hover{
	background-image:url(/DocSources/images/1024/button_chronologyRollover.png);
}

#myprofileMenu{
	background-image:url(/DocSources/images/1024/button_myprofile.png);
	background-repeat:no-repeat;
	display:block;
	width:99px;
	height:63px;
	padding: 0;
}

#myprofileMenu:hover{
	background-image:url(/DocSources/images/1024/button_myprofileRollover.png);
}

#messagesMenu{
	background-image:url(/DocSources/images/1024/button_messages.png);
	background-repeat:no-repeat;
	display:block;
	width:99px;
	height:63px;
	padding: 0;
}

#messagesMenu:hover{
	background-image:url(/DocSources/images/1024/button_messagesRollover.png);
}

#logoutMenu{
	background-image:url(/DocSources/images/1024/button_logout.png);
	background-repeat:no-repeat;
	display:block;
	width:99px;
	height:63px;
	padding: 0;
}


#logoutMenu:hover{
	background-image:url(/DocSources/images/1024/button_logoutRollover.png);
}


/*1st sub level menu*/
.menumain ul li ul{
	position: absolute;
	left: 0;
	display: block;
	visibility: hidden;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.menumain ul li ul li{
	display: list-item;
	float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.menumain ul li ul li ul{
	top: 0;
}

/* Sub level menu links style --> Add new...*/
.menumain ul li ul li a{
	width: 140px; /*width of sub menus*/
	background-color: #f9f4ed;
	color: #6F6B69;
	margin-left: 0;
	padding-left:5px;
	padding-top:5px;
	border-bottom: 1px solid #e6d0c6;

}

/* Sub-sub level menu links style  --> TGN Place Record, MAP Place Record, Add MAP Site or Subsite*/
.menumain ul li ul li ul li a{
	width: 150px; /*width of sub menus*/
	background-color: #f9f4ed;
	color: #6F6B69;
	margin-left: 45px;
	padding-left:5px;
	padding-top:5px;
	z-index:1999;

}

.menumain ul li ul li a:hover{ /*sub menus hover style*/
	background: #e6d0c6;
	color: #6F6B69;
}


/* ENTRY MENU - MODAL WINDOW */

#EntryMenuDiv h1, #VetMenuDiv h1{
	text-align:center;
	font-size:11px;
	font-weight:normal;
}

#EntryMenuDiv #close{
	margin:70px 0 0 340px;
	position:absolute;
}


#EntryMenuDiv #AddNewDocument{
	background-image:url(/DocSources/images/1024/button_addnewdocument.png);
	margin: 20px 0 5px 50px;
	position:absolute;
	width:120px;
	height:25px;
}

#EntryMenuDiv #AddNewPerson{
	background-image:url(/DocSources/images/1024/button_addnewperson.png);
	margin: 20px 0 5px 175px;
	position:absolute;
	width:120px;
	height:25px;
}

#EntryMenuDiv #AddNewVolume{
	background-image:url(/DocSources/images/1024/button_addnewvolume.png);
	margin: 20px 0 5px 300px;
	position:absolute;
	width:120px;
	height:25px;
}

#EntryMenuDiv #AddNewPlace{
	background-image:url(/DocSources/images/1024/button_addnewplace.png);
	margin: 20px 0 5px 425px;
	position:absolute;
	width:120px;
	height:25px;
}

#EntryMenuDiv #DeleteThisItem{
	background-image:url(/DocSources/images/1024/button_deletethisitem.png);
	margin: 20px 0 5px 550px;
	position:absolute;
	width:120px;
	height:25px;
}

#EntryMenuDiv a:hover, #VetMenuDiv a:hover{
	opacity:0.5; /* FireFox, Chrome, Safari */
	-moz-opacity: 0.5;
	filter:alpha(opacity=0); /* IE */
}


/* VET MENU - MODAL WINDOW */


#VetMenuDiv #close{
	margin:420px 0 0 340px;
	position:absolute;
}


#VetMenuDiv #SetReadtToBeVet{
	background-image:url(/DocSources/images/1024/button_set.png);
	margin: 380px 0 5px 150px;
	position:absolute;
	width:135px;
	height:25px;
}

#VetMenuDiv #VetThisDoc{
	background-image:url(/DocSources/images/1024/button_vet.png);
	margin: 380px 0 5px 300px;
	position:absolute;
	width:135px;
	height:25px;
}

#VetMenuDiv #UnvetThisDoc{
	background-image:url(/DocSources/images/1024/button_unvet.png);
	margin: 380px 0 5px 450px;
	position:absolute;
	width:135px;
	height:25px;
}

#VetMenuDiv #img_vetmenu {
	background-image:url(/DocSources/images/1024/img_vetmenu.png);
	background-repeat:no-repeat;
	margin: 15px 0 0 120px;
	position:absolute;
	width:498px;
	height:520px;
}
