.menumain {
	z-index:2;
}

.menumain ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*Top level list items*/
.menumain ul li{
	position: relative;
	display: inline;
	float: left;
	width:110px;
}

/*Top level menu link items style*/
.menumain ul li a{
	display: block;
	padding: 0;
	color: #6F6B69;
	text-decoration: none;
	font-size:11px;
}


#entryMenu{
	background-image:url(/DocSources/images/1024/button_entrymenu.png);
	background-repeat:no-repeat;
	display:block;
	width:99px;
	height:64px;
	margin-left:20px;
}

.entrymenu {
	margin-left:20px;
}

#entryMenu:hover{
	background-image:url(/DocSources/images/1024/button_entrymenuRollover.png);
}

#advsearchMenu{
	background-image:url(/DocSources/images/1024/button_advsearch.png);
	background-repeat:no-repeat;
	display:block;
	width: 115px;
	height:64px;
}

.advsearchMenu{
	margin-left:30px;
}
	
#advsearchMenu:hover{
	background-image:url(/DocSources/images/1024/button_advsearchRollover.png);
}

#myHistoryMenu{
	background-image:url(/DocSources/images/1024/button_chronology.png);
	background-repeat:no-repeat;
	display:block;
	width:99px;
	height:64px;
}

.myHistoryMenu{
	margin-left:30px;
}

#myHistoryMenu:hover{
	background-image:url(/DocSources/images/1024/button_chronologyRollover.png);
}

#myprofileMenu{
	background-image:url(/DocSources/images/1024/button_myprofile.png);
	background-repeat:no-repeat;
	display:block;
	width:99px;
	height:64px;
}

.myprofileMenu{
	margin-left:10px;
}

#myprofileMenu:hover{
	background-image:url(/DocSources/images/1024/button_myprofileRollover.png);
}

#messagesMenu{
	background-image:url(/DocSources/images/1024/button_messages.png);
	background-repeat:no-repeat;
	display:block;
	width:99px;
	height:64px;
}

.messagesMenu{
	margin-left:5px;
}

#messagesMenu:hover{
	background-image:url(/DocSources/images/1024/button_messagesRollover.png);
}

.messagesMenu span {
	position: absolute;
	margin: -24px 0 0 18px;
	color: #C0272D;
	font-weight: bold;
	width: 64px;
	text-align: right;
}

#logoutMenu{
	background-image:url(/DocSources/images/1024/button_logout.png);
	background-repeat:no-repeat;
	display:block;
	width:99px;
	height:64px;
}

.logoutMenu{
	margin-left:0px;
}


#logoutMenu:hover{
	background-image:url(/DocSources/images/1024/button_logoutRollover.png);
}


/*1st sub level menu*/
.menumain ul li ul{
	position: absolute;
	left: 0;
	display: block;
	visibility: hidden;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.menumain ul li ul li{
	display: list-item;
	float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.menumain ul li ul li ul{
	top: 0;
}

/* Sub level menu links style --> Add new...*/
.menumain ul li ul li a{
	width: 140px; /*width of sub menus*/
	background-color: #f9f4ed;
	color: #6F6B69;
	margin-left: 0;
	padding-left:5px;
	padding-top:5px;
	border-bottom: 1px solid #e6d0c6;

}

/* Sub-sub level menu links style  --> TGN Place Record, MAP Place Record, Add MAP Site or Subsite*/
.menumain ul li ul li ul li a{
	width: 150px; /*width of sub menus*/
	background-color: #f9f4ed;
	color: #6F6B69;
	margin-left: 45px;
	padding-left:5px;
	padding-top:5px;
	z-index:1999;

}

.menumain ul li ul li a:hover{ /*sub menus hover style*/
	background: #e6d0c6;
	color: #6F6B69;
}


/* ENTRY MENU - MODAL WINDOW */

#EntryMenuDiv h1, #VetMenuDiv h1, #ActionsMenuDiv h1, #savedSearchFiltersDiv h1, #DeleteThisRecordDiv h1, #YesDeleteThisRecordDiv h1{
	text-align:center;
	font-size:11px;
	font-weight:normal;
}

#EntryMenuDiv #close{
	margin:110px 0 0 335px;
	position:absolute;
}

#EntryMenuDiv #AddNewDocument{
	background:url(/DocSources/images/1024/button_addnewdocument.png) no-repeat;
	position:absolute;
	margin: 20px 0 5px 35px;
	width:122px;
	height:75px;
	background-position:top;
	text-align:center;
}

#EntryMenuDiv #AddNewDocument p{
	margin-top:60px;
}

#EntryMenuDiv #AddNewPerson{
	background:url(/DocSources/images/1024/button_addnewperson.png) no-repeat;
	margin: 20px 0 5px 300px;
	position:absolute;
	width:120px;
	height:75px;
	background-position:top;
	text-align:center;
}

#EntryMenuDiv #AddNewPerson p{
	margin-top:60px;
}

#EntryMenuDiv #AddNewVolume{
	background:url(/DocSources/images/1024/button_addnewvolume.png) no-repeat;
	position:absolute;
	margin: 20px 0 5px 175px;
	position:absolute;
	width:120px;
	height:75px;
	background-position:top;
	text-align:center;
}

#EntryMenuDiv #AddNewVolume p{
	margin-top:60px;
}

#EntryMenuDiv #AddNewPlace{
	background:url(/DocSources/images/1024/button_addnewplace.png) no-repeat;
	position:absolute;
	margin: 20px 0 5px 425px;
	position:absolute;
	width:120px;
	height:75px;
	background-position:top;
	text-align:center;
}

#EntryMenuDiv #AddNewPlace p{
	margin-top:60px;
}

#EntryMenuDiv #DeleteThisItem{
	padding:5px 0 0 14px;
	position:absolute;
	margin: 20px 0 5px 560px;
	position:absolute;
	width:120px;
	height:75px;
}

#EntryMenuDiv #DeleteThisItem p{
	margin-top:55px;
}

#EntryMenuDiv a:hover, #VetMenuDiv a:hover{
	opacity:0.5; /* FireFox, Chrome, Safari */
	-moz-opacity: 0.5;
	filter:alpha(opacity=0); /* IE */
	text-decoration:none;
}


/* VET MENU - MODAL WINDOW */


#VetMenuDiv #close{
	margin:420px 0 0 340px;
	position:absolute;
}


#VetMenuDiv #SetReadtToBeVet{
	background-image:url(/DocSources/images/1024/button_set.png);
	margin: 380px 0 5px 150px;
	position:absolute;
	width:135px;
	height:25px;
}

#VetMenuDiv #VetThisDoc{
	background-image:url(/DocSources/images/1024/button_vet.png);
	margin: 380px 0 5px 300px;
	position:absolute;
	width:135px;
	height:25px;
}

#VetMenuDiv #UnvetThisDoc{
	background-image:url(/DocSources/images/1024/button_unvet.png);
	margin: 380px 0 5px 450px;
	position:absolute;
	width:135px;
	height:25px;
}

#VetMenuDiv #img_vetmenu {
	background-image:url(/DocSources/images/1024/img_vetmenu.jpg);
	background-repeat:no-repeat;
	margin: 15px 0 0 120px;
	position:absolute;
	width:498px;
	height:520px;
}

/* ACTIONS MENU - MODAL WINDOW */

#ActionsMenuDiv a:hover, #DeleteThisRecordDiv a:hover {
	text-decoration:none;
	opacity:0.5; /* FireFox, Chrome, Safari */
	-moz-opacity: 0.5;
	filter:alpha(opacity=50); /* IE */
}

#ActionsMenuDiv #deleteDocBase, #ActionsMenuDiv #deleteVolumeBase, #ActionsMenuDiv #deletePeopleBase, #ActionsMenuDiv #deleteGeoBase{
	background:url(/DocSources/images/1024/button_large.png) no-repeat;
	margin: 20px 0 5px 120px;
	text-align:center;
	padding-top:4px;
	position:absolute;
	width:182px;
	height:22px;
}

#ActionsMenuDiv #Action2Docs{
	background:url(/DocSources/images/1024/button_medium.png) no-repeat;
	margin: 20px 0 5px 305px;
	text-align:center;
	padding-top:4px;
	position:absolute;
	width:122px;
	height:22px;
}

#ActionsMenuDiv #Action3Docs{
	background:url(/DocSources/images/1024/button_medium.png) no-repeat;
	margin: 20px 0 5px 430px;
	position:absolute;
	text-align:center;
	padding-top:4px;
	width:122px;
	height:22px;
}

#ActionsMenuDiv #Action1Docs:hover, #ActionsMenuDiv #Action2Docs:hover, #ActionsMenuDiv #Action3Docs:hover {
	text-decoration:none;
	opacity:0.5; /* FireFox, Chrome, Safari */
	-moz-opacity: 0.5;
	filter:alpha(opacity=50); /* IE */
}

#ActionsMenuDiv #close{
	margin:60px 0 0 340px;
	position:absolute;
}

